In [7]:
def test():
    print("this is my first fun")
test()

this is my first fun

In [9]:
a = test()

this is my first fun

In [10]:
type(test())

this is my first fun

NoneType

In [12]:
def test2():
    return "this is my first fun"
test2()

'this is my first fun'

In [13]:
type(test2())

str

In [14]:
test2() + "sudh"

'this is my first funsudh'

In [15]:
def test3() : 
    return 235435
type(test3())

int

In [21]:
def test4():
    return 4,3, "sudh" ,[1,2,3,4,5]
b= test4()
print(b)

(4, 3, 'sudh', [1, 2, 3, 4, 5])

In [22]:
type(b)

tuple

In [23]:
b

(4, 3, 'sudh', [1, 2, 3, 4, 5])

In [24]:
b[1]

3

In [25]:
b[3]

[1, 2, 3, 4, 5]

In [26]:
a = 1
b  = 5 
c = "sudh"
d = [345354,435435,543,543,5435]

In [27]:
a ,b,c,d = 34, 45, "sudh" , "dfasdfa"

In [29]:
x,y,u,v = test4()

In [30]:
x

4

In [31]:
y

3

In [32]:
u

'sudh'

In [33]:
v

[1, 2, 3, 4, 5]

In [35]:
def test5():
    a = 6*7 /6
    return a
test5()

7.0

In [37]:
def test6(l):
    l1=[]
    if type(l)==list:
        for i in l:
            if type(i)==int:
                l1.append(i)
    return l1

l = [3,4,5,6,7,7,"sudh",[1,3,4,54,56],6,7]
test6(l)

[3, 4, 5, 6, 7, 7, 6, 7]

In [38]:
def test7(a):
    n =[]
    if type(a) == list:
        for i in a:
            if type(i) == int:
                n.append(i)
    return n 

l = [3,4,5,6,7,7,"sudh",[1,3,4,54,56],6,7]
test6(l)

[3, 4, 5, 6, 7, 7, 6, 7]

In [39]:
l = [3,4,5,6,7,7,"sudh",[1,3,4,54,56],6,7]
def test6(a):
    n = []
    if type(a) == list:
        for i in a:
            if type(i) == int:
                n.append(i)
            elif type(i) == list:
                for j in i:
                    if type(j) == int:
                        n.append(j)
    return n

test6(l)

[3, 4, 5, 6, 7, 7, 1, 3, 4, 54, 56, 6, 7]

In [40]:
def test8(c) :
    if type(c) == dict :
        return c.keys()
    else :
        return "you have not passed a dic or dict is empty"

In [41]:
test8("fsadfsaf")

'you have not passed a dic or dict is empty'

In [42]:
test8({"a":"dsfsf" , "b" :2354234 , "c" : [4,5,76,78]})

dict_keys(['a', 'b', 'c'])

# My approach

In [51]:
def test9(l1,l2):
    l3=[]
    if type(l1 and l2)==list:
        l3.extend(l1)
        l3.extend(l2)
    else:
        print("It's not the list")
    return l3
 
l1= [1,2,3,"shivang","ineuron"]
l2= ["shahi","shritu",9060660606]
test9(l1,l2)

[1, 2, 3, 'shivang', 'ineuron', 'shahi', 'shritu', 9060660606]

In [49]:
type(test9(l1,l2))

list

# Sudhanshu's approach

In [52]:
def test10(a,b) :
    if type(a) == list and type(b) == list:
        a.extend(b)
        return a
    else :
        return "either of your data is not a list "

l1= [1,2,3,"shivang","ineuron"]
l2= ["shahi","shritu",9060660606]
test9(l1,l2)

[1, 2, 3, 'shivang', 'ineuron', 'shahi', 'shritu', 9060660606]

In [77]:
def pattern(n):
    for i in range(n):
        for j in range(i+1):
            print("*", end="")
        print("\n")

pattern(n= int(input()))

3
*

**

***

# other type of triangle

In [70]:
def Create_Triangle(row_num):
    n= row_num
    k = n - 1
    
    for i in range(0, n):

        for j in range(0, k):
            print(end=" ")
     
        k = k - 1
     
        for j in range(0, i+1):        
            print("* ", end="")
     
        print("\n")

Create_Triangle(3)

  *

 * *

* * *

# Doc-string for function definition

In [78]:
def pattern(n):
    """this is a fun to craete a tri 
    you can give input as an int 
    and you will be able to get output as a traingle"""
    for i in range(n):
        for j in range(i+1):
            print("*", end="")
        print("\n")

pattern(n= int(input()))

3
*

**

***

# help function prints the doc-string for a respective function

In [82]:
help(pattern)

Help on function pattern in module __main__:

pattern(n)
    this is a fun to craete a tri
    you can give input as an int
    and you will be able to get output as a traingle

In [83]:
help(pattern(5))
#showing the complete function details.

*

**

***

****

*****

Help on NoneType object:

class NoneType(object)
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.