# Pandas Lecture - 1

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("E:\Technical\DS_AI_ML\ineuron_internship\pandas_learning\zomato.csv")

In [3]:
df

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51712,https://www.zomato.com/bangalore/best-brews-fo...,"Four Points by Sheraton Bengaluru, 43/3, White...",Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6 /5,27,080 40301477,Whitefield,Bar,NaN,Continental,"1,500","[('Rated 5.0', ""RATED\n Food and service are ...",[],Pubs and bars,Whitefield
51713,https://www.zomato.com/bangalore/vinod-bar-and...,"Number 10, Garudachar Palya, Mahadevapura, Whi...",Vinod Bar And Restaurant,No,No,NaN,0,+91 8197675843,Whitefield,Bar,NaN,Finger Food,600,[],[],Pubs and bars,Whitefield
51714,https://www.zomato.com/bangalore/plunge-sherat...,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,NaN,0,NaN,Whitefield,Bar,NaN,Finger Food,"2,000",[],[],Pubs and bars,Whitefield
51715,https://www.zomato.com/bangalore/chime-sherato...,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3 /5,236,080 49652769,"ITPL Main Road, Whitefield",Bar,"Cocktails, Pizza, Buttermilk",Finger Food,"2,500","[('Rated 4.0', 'RATED\n Nice and friendly pla...",[],Pubs and bars,Whitefield
51716,https://www.zomato.com/bangalore/the-nest-the-...,"ITPL Main Road, KIADB Export Promotion Industr...",The Nest - The Den Bengaluru,No,No,3.4 /5,13,+91 8071117272,"ITPL Main Road, Whitefield","Bar, Casual Dining",NaN,"Finger Food, North Indian, Continental","1,500","[('Rated 5.0', 'RATED\n Great ambience , look...",[],Pubs and bars,Whitefield

In [4]:
type (df)

pandas.core.frame.DataFrame

In [5]:
df1= df.head(20)

In [8]:
df1.to_csv("E:/Technical/DS_AI_ML/ineuron_internship/pandas_learning/test.csv")

In [9]:
pd.read_csv("E:/Technical/DS_AI_ML/ineuron_internship/pandas_learning/test.csv")

,Unnamed: 0,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari
5,5,https://www.zomato.com/bangalore/timepass-dinn...,"37, 5-1, 4th Floor, Bosco Court, Gandhi Bazaar...",Timepass Dinner,Yes,No,3.8/5,286,+91 9980040002\r\n+91 9980063005,Basavanagudi,Casual Dining,"Onion Rings, Pasta, Kadhai Paneer, Salads, Sal...",North Indian,600,"[('Rated 3.0', 'RATED\n Food 3/5\nAmbience 3/...",[],Buffet,Banashankari
6,6,https://www.zomato.com/bangalore/rosewood-inte...,"19/1, New Timberyard Layout, Beside Satellite ...",Rosewood International Hotel - Bar & Restaurant,No,No,3.6/5,8,+91 9731716688\r\n080 26740366,Mysore Road,Casual Dining,NaN,"North Indian, South Indian, Andhra, Chinese",800,"[('Rated 5.0', 'RATED\n Awesome food ??Great ...",[],Buffet,Banashankari
7,7,https://www.zomato.com/bangalore/onesta-banash...,"2469, 3rd Floor, 24th Cross, Opposite BDA Comp...",Onesta,Yes,Yes,4.6/5,2556,080 48653961\r\n080 48655715,Banashankari,"Casual Dining, Cafe","Farmhouse Pizza, Chocolate Banana, Virgin Moji...","Pizza, Cafe, Italian",600,"[('Rated 5.0', 'RATED\n I personally really l...",[],Cafes,Banashankari
8,8,https://www.zomato.com/bangalore/penthouse-caf...,"1, 30th Main Road, 3rd Stage, Banashankari, Ba...",Penthouse Cafe,Yes,No,4.0/5,324,+91 8884135549\r\n+91 9449449316,Banashankari,Cafe,"Pizza, Mocktails, Coffee, Nachos, Salad, Pasta...","Cafe, Italian, Continental",700,"[('Rated 3.0', ""RATED\n I had been to this pl...",[],Cafes,Banashankari
9,9,https://www.zomato.com/bangalore/smacznego-ban...,"2470, 21 Main Road, 25th Cross, Banashankari, ...",Smacznego,Yes,No,4.2/5,504,+91 9945230807\r\n+91 9743804471,Banashankari,Cafe,"Waffles, Pasta, Coleslaw Sandwich, Choco Waffl...","Cafe, Mexican, Italian, Momos, Beverages",550,"[('Rated 4.0', ""RATED\n Easy to locate\nVFM 3...",[],Cafes,Banashankari
10,10,https://www.zomato.com/bangalore/caf%C3%A9-dow...,"12,29 Near PES University Back Gate, D'Souza N...",CafÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂ© Down The A...,Yes,No,4.1/5,402,080 26724489\r\n+91 7406048982,Banashankari,Cafe,"Waffles, Pasta, Crispy Chicken, Honey Chilli C...",Cafe,500,"[('Rated 4.0', 'RATED\n We ended up here on a...",[],Cafes,Banashankari
11,11,https://www.zomato.com/bangalore/cafe-shuffle-...,"941, 3rd FLOOR, 21st Main, 22nd Cross, Banasha...",Cafe Shuffle,Yes,Yes,4.2/5,150,+91 9742166777,Banashankari,Cafe,"Mocktails, Peri Fries, Lasagne, Pizza, Chicken...","Cafe, Italian, Continental",600,"[('Rated 1.0', ""RATED\n \n\nHorrible. Not even...",[],Cafes,Banashankari
12,12,https://www.zomato.com/bangalore/the-coffee-sh...,"6th Block, 3rd Stage, Banashankari, Bangalore",The Coffee Shack,Yes,Yes,4.2/5,164,+91 9731644212,Banashankari,Cafe,"Coffee, Spaghetti, Pancakes, Nachos, Pasta, Sa...","Cafe, Chinese, Continental, Italian",500,"[('Rated 4.0', ""RATED\n Food - 4/5\nAmbience ...",[],Cafes,Banashankari
13,13,https://www.zomato.com/bangalore/caf-eleven-ba...,"111, Sapphire Toys Building, 100 Feet Ring Roa...",Caf-Eleven,No,No,4.0/5,424,080 49577715,Banashankari,Cafe,"Sandwich, Omelette, Ice Tea, Virgin Mojito, Ho...","Cafe, Continental",450,"[('Rated 2.0', ""RATED\n This is a hookah cafe...",[],Cafes,Banashankari
14,14,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Cafes,Banashankari
15,15,https://www.zomato.com/bangalore/cafe-vivacity...,"2303, 21st Cross, K R Road, 2nd Stage, Banasha...",Cafe Vivacity,Yes,No,3.8/5,90,080 26768182\r\n+91 9845704455,Banashankari,Cafe,"Garlic Bread, Burgers, Sandwiches, Pizza, Hot ...",Cafe,650,"[('Rated 2.0', 'RATED\n Not so good place as ...",[],Cafes,Banashankari
16,16,https://www.zomato.com/bangalore/catch-up-ino-...,"241, 4th Floor, 100 Feet Ring Road, Opposite K...",Catch-up-ino,Yes,No,3.9/5,133,+91 9972988038\r\n+91 9900121238,Banashankari,Cafe,"Momos, Mushroom Bruschettas, Jalapeno Cheeseba...","Cafe, Fast Food, Continental, Chinese, Momos",800,"[('Rated 1.0', ""RATED\n This place is right o...",[],Cafes,Banashankari
17,17,https://www.zomato.com/bangalore/kirthis-birya...,"405, 24th Cross, 9th Main, 2nd Stage, Banashan...",Kirthi's Biryani,Yes,No,3.8/5,144,080 26711554\r\n+91 9741406338,Banashankari,Cafe,"Pasta, Gelato, Garlic Bread, Mojito, Nachos, P...","Chinese, Cafe, Italian",700,"[('Rated 3.0', ""RATED\n New place.. though it...",[],Cafes,Banashankari
18,18,https://www.zomato.com/bangalore/t3h-cafe-bana...,"504, CJ Venkata Das Road, Padmanabhangar, 2nd ...",T3H Cafe,No,No,3.9/5,93,+91 8884726600,Banashankari,Cafe,"Cheese Maggi, Peri Peri Fries, Pasta Arrabiata","Cafe, Italian, American",300,"[('Rated 4.0', ""RATED\n Happy to see such a c...",[],Cafes,Banashankari
19,19,https://www.zomato.com/bangalore/360-atoms-res...,"47, 48 &49, 3Rd Floor, 21st Main Road, 2nd Sta...",360 Atoms Restaurant And Cafe,Yes,No,3.1/5,13,+91 9880594520,Banashankari,Cafe,NaN,"Cafe, Chinese, Continental, Italian",400,"[('Rated 5.0', 'RATED\n Friendly staffs , nic...",[],Cafes,Banashankari

In [12]:
df = pd.read_csv("E:/Technical/DS_AI_ML/ineuron_internship/pandas_learning/test.csv", header=None)

In [13]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,NaN,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
1,0.0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
2,1.0,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
3,2.0,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
4,3.0,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
5,4.0,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari
6,5.0,https://www.zomato.com/bangalore/timepass-dinn...,"37, 5-1, 4th Floor, Bosco Court, Gandhi Bazaar...",Timepass Dinner,Yes,No,3.8/5,286,+91 9980040002\r\n+91 9980063005,Basavanagudi,Casual Dining,"Onion Rings, Pasta, Kadhai Paneer, Salads, Sal...",North Indian,600,"[('Rated 3.0', 'RATED\n Food 3/5\nAmbience 3/...",[],Buffet,Banashankari
7,6.0,https://www.zomato.com/bangalore/rosewood-inte...,"19/1, New Timberyard Layout, Beside Satellite ...",Rosewood International Hotel - Bar & Restaurant,No,No,3.6/5,8,+91 9731716688\r\n080 26740366,Mysore Road,Casual Dining,NaN,"North Indian, South Indian, Andhra, Chinese",800,"[('Rated 5.0', 'RATED\n Awesome food ??Great ...",[],Buffet,Banashankari
8,7.0,https://www.zomato.com/bangalore/onesta-banash...,"2469, 3rd Floor, 24th Cross, Opposite BDA Comp...",Onesta,Yes,Yes,4.6/5,2556,080 48653961\r\n080 48655715,Banashankari,"Casual Dining, Cafe","Farmhouse Pizza, Chocolate Banana, Virgin Moji...","Pizza, Cafe, Italian",600,"[('Rated 5.0', 'RATED\n I personally really l...",[],Cafes,Banashankari
9,8.0,https://www.zomato.com/bangalore/penthouse-caf...,"1, 30th Main Road, 3rd Stage, Banashankari, Ba...",Penthouse Cafe,Yes,No,4.0/5,324,+91 8884135549\r\n+91 9449449316,Banashankari,Cafe,"Pizza, Mocktails, Coffee, Nachos, Salad, Pasta...","Cafe, Italian, Continental",700,"[('Rated 3.0', ""RATED\n I had been to this pl...",[],Cafes,Banashankari
10,9.0,https://www.zomato.com/bangalore/smacznego-ban...,"2470, 21 Main Road, 25th Cross, Banashankari, ...",Smacznego,Yes,No,4.2/5,504,+91 9945230807\r\n+91 9743804471,Banashankari,Cafe,"Waffles, Pasta, Coleslaw Sandwich, Choco Waffl...","Cafe, Mexican, Italian, Momos, Beverages",550,"[('Rated 4.0', ""RATED\n Easy to locate\nVFM 3...",[],Cafes,Banashankari
11,10.0,https://www.zomato.com/bangalore/caf%C3%A9-dow...,"12,29 Near PES University Back Gate, D'Souza N...",CafÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂ© Down The A...,Yes,No,4.1/5,402,080 26724489\r\n+91 7406048982,Banashankari,Cafe,"Waffles, Pasta, Crispy Chicken, Honey Chilli C...",Cafe,500,"[('Rated 4.0', 'RATED\n We ended up here on a...",[],Cafes,Banashankari
12,11.0,https://www.zomato.com/bangalore/cafe-shuffle-...,"941, 3rd FLOOR, 21st Main, 22nd Cross, Banasha...",Cafe Shuffle,Yes,Yes,4.2/5,150,+91 9742166777,Banashankari,Cafe,"Mocktails, Peri Fries, Lasagne, Pizza, Chicken...","Cafe, Italian, Continental",600,"[('Rated 1.0', ""RATED\n \n\nHorrible. Not even...",[],Cafes,Banashankari
13,12.0,https://www.zomato.com/bangalore/the-coffee-sh...,"6th Block, 3rd Stage, Banashankari, Bangalore",The Coffee Shack,Yes,Yes,4.2/5,164,+91 9731644212,Banashankari,Cafe,"Coffee, Spaghetti, Pancakes, Nachos, Pasta, Sa...","Cafe, Chinese, Continental, Italian",500,"[('Rated 4.0', ""RATED\n Food - 4/5\nAmbience ...",[],Cafes,Banashankari
14,13.0,https://www.zomato.com/bangalore/caf-eleven-ba...,"111, Sapphire Toys Building, 100 Feet Ring Roa...",Caf-Eleven,No,No,4.0/5,424,080 49577715,Banashankari,Cafe,"Sandwich, Omelette, Ice Tea, Virgin Mojito, Ho...","Cafe, Continental",450,"[('Rated 2.0', ""RATED\n This is a hookah cafe...",[],Cafes,Banashankari
15,14.0,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Cafes,Banashankari
16,15.0,https://www.zomato.com/bangalore/cafe-vivacity...,"2303, 21st Cross, K R Road, 2nd Stage, Banasha...",Cafe Vivacity,Yes,No,3.8/5,90,080 26768182\r\n+91 9845704455,Banashankari,Cafe,"Garlic Bread, Burgers, Sandwiches, Pizza, Hot ...",Cafe,650,"[('Rated 2.0', 'RATED\n Not so good place as ...",[],Cafes,Banashankari
17,16.0,https://www.zomato.com/bangalore/catch-up-ino-...,"241, 4th Floor, 100 Feet Ring Road, Opposite K...",Catch-up-ino,Yes,No,3.9/5,133,+91 9972988038\r\n+91 9900121238,Banashankari,Cafe,"Momos, Mushroom Bruschettas, Jalapeno Cheeseba...","Cafe, Fast Food, Continental, Chinese, Momos",800,"[('Rated 1.0', ""RATED\n This place is right o...",[],Cafes,Banashankari
18,17.0,https://www.zomato.com/bangalore/kirthis-birya...,"405, 24th Cross, 9th Main, 2nd Stage, Banashan...",Kirthi's Biryani,Yes,No,3.8/5,144,080 26711554\r\n+91 9741406338,Banashankari,Cafe,"Pasta, Gelato, Garlic Bread, Mojito, Nachos, P...","Chinese, Cafe, Italian",700,"[('Rated 3.0', ""RATED\n New place.. though it...",[],Cafes,Banashankari
19,18.0,https://www.zomato.com/bangalore/t3h-cafe-bana...,"504, CJ Venkata Das Road, Padmanabhangar, 2nd ...",T3H Cafe,No,No,3.9/5,93,+91 8884726600,Banashankari,Cafe,"Cheese Maggi, Peri Peri Fries, Pasta Arrabiata","Cafe, Italian, American",300,"[('Rated 4.0', ""RATED\n Happy to see such a c...",[],Cafes,Banashankari
20,19.0,https://www.zomato.com/bangalore/360-atoms-res...,"47, 48 &49, 3Rd Floor, 21st Main Road, 2nd Sta...",360 Atoms Restaurant And Cafe,Yes,No,3.1/5,13,+91 9880594520,Banashankari,Cafe,NaN,"Cafe, Chinese, Continental, Italian",400,"[('Rated 5.0', 'RATED\n Friendly staffs , nic...",[],Cafes,Banashankari

In [18]:
df= pd.read_csv("E:/Technical/DS_AI_ML/ineuron_internship/pandas_learning/zomato.csv", na_values=["Banashankari", "Whitefield"])

In [19]:
df

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,NaN,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,NaN
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,NaN,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,NaN
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,NaN,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,NaN
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,NaN,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,NaN
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51712,https://www.zomato.com/bangalore/best-brews-fo...,"Four Points by Sheraton Bengaluru, 43/3, White...",Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6 /5,27,080 40301477,NaN,Bar,NaN,Continental,"1,500","[('Rated 5.0', ""RATED\n Food and service are ...",[],Pubs and bars,NaN
51713,https://www.zomato.com/bangalore/vinod-bar-and...,"Number 10, Garudachar Palya, Mahadevapura, Whi...",Vinod Bar And Restaurant,No,No,NaN,0,+91 8197675843,NaN,Bar,NaN,Finger Food,600,[],[],Pubs and bars,NaN
51714,https://www.zomato.com/bangalore/plunge-sherat...,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,NaN,0,NaN,NaN,Bar,NaN,Finger Food,"2,000",[],[],Pubs and bars,NaN
51715,https://www.zomato.com/bangalore/chime-sherato...,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3 /5,236,080 49652769,"ITPL Main Road, Whitefield",Bar,"Cocktails, Pizza, Buttermilk",Finger Food,"2,500","[('Rated 4.0', 'RATED\n Nice and friendly pla...",[],Pubs and bars,NaN
51716,https://www.zomato.com/bangalore/the-nest-the-...,"ITPL Main Road, KIADB Export Promotion Industr...",The Nest - The Den Bengaluru,No,No,3.4 /5,13,+91 8071117272,"ITPL Main Road, Whitefield","Bar, Casual Dining",NaN,"Finger Food, North Indian, Continental","1,500","[('Rated 5.0', 'RATED\n Great ambience , look...",[],Pubs and bars,NaN

In [21]:
df.describe()

              votes
count  51717.000000
mean     283.697527
std      803.838853
min        0.000000
25%        7.000000
50%       41.000000
75%      198.000000
max    16832.000000

In [24]:
df.dtypes

url                            object
address                        object
name                           object
online_order                   object
book_table                     object
rate                           object
votes                           int64
phone                          object
location                       object
rest_type                      object
dish_liked                     object
cuisines                       object
approx_cost(for two people)    object
reviews_list                   object
menu_item                      object
listed_in(type)                object
listed_in(city)                object
dtype: object

In [2]:
df1= pd.read_csv("E:/Technical/DS_AI_ML/ineuron_internship/pandas_learning/zomato.csv")

In [5]:
df1.to_csv("E:/Technical/DS_AI_ML/ineuron_internship/pandas_learning/result.csv", index=False)

In [6]:
df1.to_csv("E:/Technical/DS_AI_ML/ineuron_internship/pandas_learning/result1.csv", index=False, header=False)

In [7]:
df1.to_csv("E:/Technical/DS_AI_ML/ineuron_internship/pandas_learning/result2.csv", index=False, header=False, sep="#")

In [8]:
df1.to_csv("E:/Technical/DS_AI_ML/ineuron_internship/pandas_learning/result2.csv", index=False, columns=["name", "phone", "location"])

In [4]:
new_df= df1.iloc[:10000]

In [6]:
new_df.to_csv("E:/Technical/DS_AI_ML/ineuron_internship/pandas_learning/result.csv", index=False)

In [10]:
new_df.describe()

              votes
count  10000.000000
mean     245.569200
std      711.891229
min        0.000000
25%        7.000000
50%       41.000000
75%      178.000000
max    16345.000000

In [12]:
new_df.columns

Index(['url', 'address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'phone', 'location', 'rest_type', 'dish_liked', 'cuisines',
       'approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

In [17]:
type(new_df["name"])

pandas.core.series.Series

In [18]:
type(new_df[["name", "votes"]])

pandas.core.frame.DataFrame

In [19]:
new_df[["name", "votes"]]

                                  name  votes
0                                Jalsa    775
1                       Spice Elephant    787
2                      San Churro Cafe    918
3                Addhuri Udupi Bhojana     88
4                        Grand Village    166
...                                ...    ...
9995  Sree Banashankari Donne Biriyani      0
9996                    Northern Bites      0
9997                      Cafe Arabica     69
9998      Swa-Desh A Family Restaurant      0
9999                Mayuri Andhra Mess      0

[10000 rows x 2 columns]

In [22]:
df2= pd.read_excel("E:/Technical/DS_AI_ML/ineuron_internship/pandas_learning/LUSID Excel - Business Agility - Making Simple Changes Quickly & Easily.xlsx", sheet_name='Create your instrument universe')

In [23]:
df2

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
66,NaN,NaN,NaN,NaN,BBG0000D14P3,Active,LUID_OT7CC2W3,UKGiltTreasury_4.5_2034,imd_34534534,BBG0000D14P3,GB00B52WS153,UKT 4.5 09/07/34
67,NaN,NaN,NaN,NaN,BBG00FN3B5K8,Active,LUID_D8XILY4L,USTreasury_2.00_2021,imd_34535347,BBG00FN3B5K8,US912828U816,T 2 12/31/21
68,NaN,NaN,NaN,NaN,BBG000DQQNJ8,Active,LUID_MB2H1QYX,USTreasury_6.875_2025,imd_34534539,BBG000DQQNJ8,US912810EV62,T 6.875 08/15/25
69,NaN,NaN,NaN,NaN,BBG000BF6B57,Active,LUID_JTHZSWPE,WPP_LondonStockEx_WPP,imd_34536734,BBG000BF6B57,JE00B8KF9B49,WPP
70,NaN,NaN,NaN,NaN,BBG000BRVH05,Active,LUID_0E6TTHI3,Whitebread_LondonStockEx_WTB,imd_35349900,BBG000BRVH05,GB00B1KJJ408,WTB

In [26]:
type(df2)

pandas.core.frame.DataFrame

In [24]:
df3= pd.read_html("https://www.basketball-reference.com/players/i/ibakase01.html?utm_source=direct&utm_medium=Share&utm_campaign=ShareTool")

In [25]:
df3

[       Season   Age                                     Tm  \
 0     2008-09  19.0  Did Not Play (other pro league—Spain)
 1     2009-10  20.0                                    OKC
 2     2010-11  21.0                                    OKC
 3     2011-12  22.0                                    OKC
 4     2012-13  23.0                                    OKC
 5     2013-14  24.0                                    OKC
 6     2014-15  25.0                                    OKC
 7     2015-16  26.0                                    OKC
 8     2016-17  27.0                                    TOT
 9     2016-17  27.0                                    ORL
 10    2016-17  27.0                                    TOR
 11    2017-18  28.0                                    TOR
 12    2018-19  29.0                                    TOR
 13    2019-20  30.0                                    TOR
 14    2020-21  31.0                                    LAC
 15    2021-22  32.0                                    TOT
 16    2021-22  32.0                                    LAC
 17    2021-22  32.0                                    MIL
 18     Career   NaN                                    NaN
 19        NaN   NaN                                    NaN
 20  7 seasons   NaN                                    OKC
 21  4 seasons   NaN                                    TOR
 22  2 seasons   NaN                                    LAC
 23   1 season   NaN                                    ORL
 24   1 season   NaN                                    MIL

                                        Lg  \
 0   Did Not Play (other pro league—Spain)
 1                                     NBA
 2                                     NBA
 3                                     NBA
 4                                     NBA
 5                                     NBA
 6                                     NBA
 7                                     NBA
 8                                     NBA
 9                                     NBA
 10                                    NBA
 11                                    NBA
 12                                    NBA
 13                                    NBA
 14                                    NBA
 15                                    NBA
 16                                    NBA
 17                                    NBA
 18                                    NBA
 19                                    NaN
 20                                    NBA
 21                                    NBA
 22                                    NBA
 23                                    NBA
 24                                    NBA

                                       Pos  \
 0   Did Not Play (other pro league—Spain)
 1                                      PF
 2                                      PF
 3                                      PF
 4                                      PF
 5                                      PF
 6                                      PF
 7                                      PF
 8                                      PF
 9                                      PF
 10                                     PF
 11                                     PF
 12                                      C
 13                                      C
 14                                      C
 15                                   C,PF
 16                                      C
 17                                     PF
 18                                    NaN
 19                                    NaN
 20                                    NaN
 21                                    NaN
 22                                    NaN
 23                                    NaN
 24                                    NaN

                                         G  \
 0   Did Not Play (other pro league—Spain)
 1                                      73
 2                                      82
 3                                      66
 4                                      80
 5                                      81
 6                                      64
 7                                      78
 8                                      79
 9                                      56
 10                                     23
 11                                     76
 12                                     74
 13                                     55
 14                                     41
 15                                     54
 16                                     35
 17                                     19
 18                                    903
 19                                    NaN
 20                                    524
 21                                    228
 22                                     76
 23                                     56
 24                                     19

                                        GS  \
 0   Did Not Play (other pro league—Spain)
 1                                       0
 2                                      44
 3                                      66
 4                                      80
 5                                      81
 6                                      64
 7                                      78
 8                                      79
 9                                      56
 10                                     23
 11                                     76
 12                                     51
 13                                     27
 14                                     39
 15                                     12
 16                                     10
 17                                      2
 18                                    697
 19                                    NaN
 20                                    413
 21                                    177
 22                                     49
 23                                     56
 24                                      2

                                        MP  \
 0   Did Not Play (other pro league—Spain)
 1                                    18.1
 2                                    27.0
 3                                    27.2
 4                                    31.1
 5                                    32.9
 6                                    33.1
 7                                    32.1
 8                                    30.7
 9                                    30.5
 10                                   31.0
 11                                   27.5
 12                                   27.2
 13                                   27.0
 14                                   23.3
 15                                   16.2
 16                                   15.4
 17                                   17.8
 18                                   27.6
 19                                    NaN
 20                                   28.8
 21                                   27.6
 22                                   19.6
 23                                   30.5
 24                                   17.8

                                        FG  \
 0   Did Not Play (other pro league—Spain)
 1                                     2.8
 2                                     4.1
 3                                     4.0
 4                                     5.6
 5                                     6.5
 6                                     5.8
 7                                     5.3
 8                                     6.0
 9                                     6.1
 10                                    5.6
 11                                    5.0
 12                                    6.3
 13                                    6.2
 14                                    4.5
 15                                    2.7
 16                                    2.7
 17                                    2.8
 18                                    5.0
 19                                    NaN
 20                                    4.9
 21                                    5.8
 22                                    3.7
 23                                    6.1
 24                                    2.8

                                       FGA  ...  \
 0   Did Not Play (other pro league—Spain)  ...
 1                                     5.1  ...
 2                                     7.5  ...
 3                                     7.4  ...
 4                                     9.7  ...
 5                                    12.1  ...
 6                                    12.3  ...
 7                                    11.1  ...
 8                                    12.4  ...
 9                                    12.6  ...
 10                                   12.1  ...
 11                                   10.3  ...
 12                                   11.9  ...
 13                                   12.2  ...
 14                                    8.9  ...
 15                                    5.5  ...
 16                                    5.5  ...
 17                                    5.5  ...
 18                                    9.8  ...
 19                                    NaN  ...
 20                                    9.3  ...
 21                                   11.4  ...
 22                                    7.3  ...
 23                                   12.6  ...
 24                                    5.5  ...

                                       FT%  \
 0   Did Not Play (other pro league—Spain)
 1                                    .630
 2                                    .750
 3                                    .661
 4                                    .749
 5                                    .784
 6                                    .836
 7                                    .752
 8                                    .856
 9                                    .846
 10                                   .882
 11                                   .797
 12                                   .763
 13                                   .718
 14                                   .811
 15                                   .727
 16                                   .690
 17                                   .800
 18                                   .758
 19                                    NaN
 20                                   .745
 21                                   .768
 22                                   .768
 23                                   .846
 24                                   .800

                                       ORB  \
 0   Did Not Play (other pro league—Spain)
 1                                     1.9
 2                                     2.6
 3                                     2.9
 4                                     2.8
 5                                     2.8
 6                                     2.1
 7                                     1.8
 8                                     1.6
 9                                     1.8
 10                                    1.3
 11                                    1.0
 12                                    2.1
 13                                    2.1
 14                                    1.8
 15                                    1.1
 16                                    1.1
 17                                    1.2
 18                                    2.1
 19                                    NaN
 20                                    2.4
 21                                    1.7
 22                                    1.5
 23                                    1.8
 24                                    1.2

                                       DRB  \
 0   Did Not Play (other pro league—Spain)
 1                                     3.5
 2                                     5.0
 3                                     4.6
 4                                     4.9
 5                                     6.0
 6                                     5.7
 7                                     5.0
 8                                     5.2
 9                                     5.0
 10                                    5.5
 11                                    5.3
 12                                    6.0
 13                                    6.1
 14                                    4.9
 15                                    3.5
 16                                    3.1
 17                                    4.1
 18                                    5.1
 19                                    NaN
 20                                    5.0
 21                                    5.7
 22                                    4.1
 23                                    5.0
 24                                    4.1

                                       TRB  \
 0   Did Not Play (other pro league—Spain)
 1                                     5.4
 2                                     7.6
 3                                     7.5
 4                                     7.7
 5                                     8.8
 6                                     7.8
 7                                     6.8
 8                                     6.8
 9                                     6.8
 10                                    6.8
 11                                    6.3
 12                                    8.1
 13                                    8.2
 14                                    6.7
 15                                    4.6
 16                                    4.3
 17                                    5.3
 18                                    7.2
 19                                    NaN
 20                                    7.4
 21                                    7.4
 22                                    5.6
 23                                    6.8
 24                                    5.3

                                       AST  \
 0   Did Not Play (other pro league—Spain)
 1                                     0.1
 2                                     0.3
 3                                     0.4
 4                                     0.5
 5                                     1.0
 6                                     0.9
 7                                     0.8
 8                                     0.9
 9                                     1.1
 10                                    0.7
 11                                    0.8
 12                                    1.3
 13                                    1.4
 14                                    1.8
 15                                    0.9
 16                                    1.0
 17                                    0.7
 18                                    0.8
 19                                    NaN
 20                                    0.6
 21                                    1.1
 22                                    1.4
 23                                    1.1
 24                                    0.7

                                       STL  \
 0   Did Not Play (other pro league—Spain)
 1                                     0.3
 2                                     0.4
 3                                     0.5
 4                                     0.4
 5                                     0.5
 6                                     0.5
 7                                     0.5
 8                                     0.5
 9                                     0.6
 10                                    0.3
 11                                    0.4
 12                                    0.4
 13                                    0.5
 14                                    0.2
 15                                    0.2
 16                                    0.2
 17                                    0.2
 18                                    0.4
 19                                    NaN
 20                                    0.4
 21                                    0.4
 22                                    0.2
 23                                    0.6
 24                                    0.2

                                       BLK  \
 0   Did Not Play (other pro league—Spain)
 1                                     1.3
 2                                     2.4
 3                                     3.7
 4                                     3.0
 5                                     2.7
 6                                     2.4
 7                                     1.9
 8                                     1.6
 9                                     1.6
 10                                    1.4
 11                                    1.3
 12                                    1.4
 13                                    0.8
 14                                    1.1
 15                                    0.6
 16                                    0.7
 17                                    0.4
 18                                    1.9
 19                                    NaN
 20                                    2.5
 21                                    1.2
 22                                    1.0
 23                                    1.6
 24                                    0.4

                                       TOV  \
 0   Did Not Play (other pro league—Spain)
 1                                     0.9
 2                                     0.9
 3                                     1.2
 4                                     1.6
 5                                     1.5
 6                                     1.5
 7                                     1.4
 8                                     1.3
 9                                     1.2
 10                                    1.7
 11                                    1.2
 12                                    1.5
 13                                    2.0
 14                                    1.1
 15                                    0.8
 16                                    0.9
 17                                    0.5
 18                                    1.3
 19                                    NaN
 20                                    1.3
 21                                    1.5
 22                                    1.0
 23                                    1.2
 24                                    0.5

                                        PF  \
 0   Did Not Play (other pro league—Spain)
 1                                     2.7
 2                                     3.3
 3                                     2.7
 4                                     2.7
 5                                     2.9
 6                                     3.0
 7                                     2.7
 8                                     2.7
 9                                     2.5
 10                                    3.3
 11                                    2.8
 12                                    2.9
 13                                    2.8
 14                                    1.9
 15                                    1.9
 16                                    1.6
 17                                    2.4
 18                                    2.7
 19                                    NaN
 20                                    2.8
 21                                    2.8
 22                                    1.7
 23                                    2.5
 24                                    2.4

                                       PTS
 0   Did Not Play (other pro league—Spain)
 1                                     6.3
 2                                     9.9
 3                                     9.1
 4                                    13.2
 5                                    15.1
 6                                    14.3

In [42]:
for i in range(len(df3)):
    df3[i].to_csv(f"E:/Technical/DS_AI_ML/ineuron_internship/pandas_learning/df3{i}.csv", index=False)

In [35]:
type(df3)

list

In [36]:
len(df3)

6

In [29]:
df3[0]

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2008-09,19.0,Did Not Play (other pro league—Spain),Did Not Play (other pro league—Spain),Did Not Play (other pro league—Spain),Did Not Play (other pro league—Spain),Did Not Play (other pro league—Spain),Did Not Play (other pro league—Spain),Did Not Play (other pro league—Spain),Did Not Play (other pro league—Spain),...,Did Not Play (other pro league—Spain),Did Not Play (other pro league—Spain),Did Not Play (other pro league—Spain),Did Not Play (other pro league—Spain),Did Not Play (other pro league—Spain),Did Not Play (other pro league—Spain),Did Not Play (other pro league—Spain),Did Not Play (other pro league—Spain),Did Not Play (other pro league—Spain),Did Not Play (other pro league—Spain)
1,2009-10,20.0,OKC,NBA,PF,73,0,18.1,2.8,5.1,...,.630,1.9,3.5,5.4,0.1,0.3,1.3,0.9,2.7,6.3
2,2010-11,21.0,OKC,NBA,PF,82,44,27.0,4.1,7.5,...,.750,2.6,5.0,7.6,0.3,0.4,2.4,0.9,3.3,9.9
3,2011-12,22.0,OKC,NBA,PF,66,66,27.2,4.0,7.4,...,.661,2.9,4.6,7.5,0.4,0.5,3.7,1.2,2.7,9.1
4,2012-13,23.0,OKC,NBA,PF,80,80,31.1,5.6,9.7,...,.749,2.8,4.9,7.7,0.5,0.4,3.0,1.6,2.7,13.2
5,2013-14,24.0,OKC,NBA,PF,81,81,32.9,6.5,12.1,...,.784,2.8,6.0,8.8,1.0,0.5,2.7,1.5,2.9,15.1
6,2014-15,25.0,OKC,NBA,PF,64,64,33.1,5.8,12.3,...,.836,2.1,5.7,7.8,0.9,0.5,2.4,1.5,3.0,14.3
7,2015-16,26.0,OKC,NBA,PF,78,78,32.1,5.3,11.1,...,.752,1.8,5.0,6.8,0.8,0.5,1.9,1.4,2.7,12.6
8,2016-17,27.0,TOT,NBA,PF,79,79,30.7,6.0,12.4,...,.856,1.6,5.2,6.8,0.9,0.5,1.6,1.3,2.7,14.8
9,2016-17,27.0,ORL,NBA,PF,56,56,30.5,6.1,12.6,...,.846,1.8,5.0,6.8,1.1,0.6,1.6,1.2,2.5,15.1
10,2016-17,27.0,TOR,NBA,PF,23,23,31.0,5.6,12.1,...,.882,1.3,5.5,6.8,0.7,0.3,1.4,1.7,3.3,14.2
11,2017-18,28.0,TOR,NBA,PF,76,76,27.5,5.0,10.3,...,.797,1.0,5.3,6.3,0.8,0.4,1.3,1.2,2.8,12.6
12,2018-19,29.0,TOR,NBA,C,74,51,27.2,6.3,11.9,...,.763,2.1,6.0,8.1,1.3,0.4,1.4,1.5,2.9,15.0
13,2019-20,30.0,TOR,NBA,C,55,27,27.0,6.2,12.2,...,.718,2.1,6.1,8.2,1.4,0.5,0.8,2.0,2.8,15.4
14,2020-21,31.0,LAC,NBA,C,41,39,23.3,4.5,8.9,...,.811,1.8,4.9,6.7,1.8,0.2,1.1,1.1,1.9,11.1
15,2021-22,32.0,TOT,NBA,"C,PF",54,12,16.2,2.7,5.5,...,.727,1.1,3.5,4.6,0.9,0.2,0.6,0.8,1.9,6.8
16,2021-22,32.0,LAC,NBA,C,35,10,15.4,2.7,5.5,...,.690,1.1,3.1,4.3,1.0,0.2,0.7,0.9,1.6,6.6
17,2021-22,32.0,MIL,NBA,PF,19,2,17.8,2.8,5.5,...,.800,1.2,4.1,5.3,0.7,0.2,0.4,0.5,2.4,7.0
18,Career,NaN,NaN,NBA,NaN,903,697,27.6,5.0,9.8,...,.758,2.1,5.1,7.2,0.8,0.4,1.9,1.3,2.7,12.1
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,7 seasons,NaN,OKC,NBA,NaN,524,413,28.8,4.9,9.3,...,.745,2.4,5.0,7.4,0.6,0.4,2.5,1.3,2.8,11.6
21,4 seasons,NaN,TOR,NBA,NaN,228,177,27.6,5.8,11.4,...,.768,1.7,5.7,7.4,1.1,0.4,1.2,1.5,2.8,14.2
22,2 seasons,NaN,LAC,NBA,NaN,76,49,19.6,3.7,7.3,...,.768,1.5,4.1,5.6,1.4,0.2,1.0,1.0,1.7,9.0
23,1 season,NaN,ORL,NBA,NaN,56,56,30.5,6.1,12.6,...,.846,1.8,5.0,6.8,1.1,0.6,1.6,1.2,2.5,15.1
24,1 season,NaN,MIL,NBA,NaN,19,2,17.8,2.8,5.5,...,.800,1.2,4.1,5.3,0.7,0.2,0.4,0.5,2.4,7.0

In [31]:
df3[3].to_csv("E:/Technical/DS_AI_ML/ineuron_internship/pandas_learning/basketball.csv")

In [32]:
pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [58]:
import json

In [63]:
s= """{ 
  "name": "Shivang",
  "phone_no": 89787626,
  "comp": ["ineuron", "delloite", "wipro", "cgi"]
}
"""

In [64]:
s1= json.loads(s)

In [65]:
s1

{'name': 'Shivang',
 'phone_no': 89787626,
 'comp': ['ineuron', 'delloite', 'wipro', 'cgi']}

In [66]:
pd.DataFrame(s1)

      name  phone_no      comp
0  Shivang  89787626   ineuron
1  Shivang  89787626  delloite
2  Shivang  89787626     wipro
3  Shivang  89787626       cgi

In [94]:
type(s1)

dict

In [69]:
pd.DataFrame(s1,columns=['comp'])

       comp
0   ineuron
1  delloite
2     wipro
3       cgi

In [70]:
import requests
res= requests.get("https://api.github.com/repos/pandas-dev/pandas/issues")
js= res.json()

In [71]:
res

In [72]:
js

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47597',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47597/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47597/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47597/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/47597',
  'id': 1294043839,
  'node_id': 'PR_kwDOAA0YD846150-',
  'number': 47597,
  'title': 'Added improvements in to_datetime Error reporting message',
  'user': {'login': 'dannyi96',
   'id': 15380498,
   'node_id': 'MDQ6VXNlcjE1MzgwNDk4',
   'avatar_url': 'https://avatars.githubusercontent.com/u/15380498?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/dannyi96',
   'html_url': 'https://github.com/dannyi96',
   'followers_url': 'https://api.github.com/users/dannyi96/followers',
   'following_url': 'https://api.github.com/users/dannyi96/following{/other_user}',
   'gists_url': 'https://api.github.com/users/dannyi96/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/dannyi96/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/dannyi96/subscriptions',
   'organizations_url': 'https://api.github.com/users/dannyi96/orgs',
   'repos_url': 'https://api.github.com/users/dannyi96/repos',
   'events_url': 'https://api.github.com/users/dannyi96/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/dannyi96/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-07-05T09:34:43Z',
  'updated_at': '2022-07-05T09:34:43Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/47597',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/47597',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/47597.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/47597.patch',
   'merged_at': None},
  'body': '- This PR aims to close 3 related issues - \r\n#16757 , \r\n#46509 , \r\n#47495\r\n\r\n- Changes description\r\n    -  For issue #16757 - added more details in error message about field and its position causing the issue in `pandas/_libs/tslib.pyx` in `_array_to_datetime_object` and `array_to_datetime`\r\n    -  For issue #46509 -  added more details in OutOfBoundsDatetime exception about field and its position causing the issue in `pandas/_libs/tslib.pyx` in `array_to_datetime`\r\n    - For issue #47495 - made change in `pandas/_libs/tslibs/parsing.pyx` to accept "now" and "today" values. These values are accepted in other parts of parsing ( `_parse_today_now` in `pandas/_libs/tslib.pyx` ) but when `pd.to_datetime` is supplied with an list having an error value(eg - `pd.to_datetime(["today", "yesterday"])` ), the parsing done post raised exception in `parse_datetime_string` in `pandas/_libs/tslibs/parsing.pyx` does not accept "now" and "today", hence the wrong element is shown in the error\r\n\r\n**To Do**\r\n- [ ] add testcases covering above errors once given the initial go ahead. ( am bit new here, was thinking of sending the changes in chunks, instead of going more ahead in wrong direction 🙂  )\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47597/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47597/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47596',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47596/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47596/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47596/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/47596',
  'id': 1293974451,
  'node_id': 'I_kwDOAA0YD85NIHuz',
  'number': 47596,
  'title': 'BUG: Inconsistent handling of dropping levels in MultiIndex when using IndexSlice',
  'user': {'login': 'mousey92',
   'id': 26246536,
   'node_id': 'MDQ6VXNlcjI2MjQ2NTM2',
   'avatar_url': 'https://avatars.githubusercontent.com/u/26246536?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/mousey92',
   'html_url': 'https://github.com/mousey92',
   'followers_url': 'https://api.github.com/users/mousey92/followers',
   'following_url': 'https://api.github.com/users/mousey92/following{/other_user}',
   'gists_url': 'https://api.github.com/users/mousey92/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/mousey92/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/mousey92/subscriptions',
   'organizations_url': 'https://api.github.com/users/mousey92/orgs',
   'repos_url': 'https://api.github.com/users/mousey92/repos',
   'events_url': 'https://api.github.com/users/mousey92/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/mousey92/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76811,
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
    'name': 'Bug',
    'color': 'e10c02',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-07-05T08:35:28Z',
  'updated_at': '2022-07-05T08:35:28Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'body': '### Pandas version checks\n\n- [X] I have checked that this issue has not already been reported.\n\n- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.\n\n- [ ] I have confirmed this bug exists on the main branch of pandas.\n\n\n### Reproducible Example\n\n```python\n>>>import numpy as np\r\n>>>import pandas as pd\r\n>>>idx = pd.IndexSlice\r\n>>>df = pd.DataFrame(np.random.rand(8, 4),\r\n                     index=pd.MultiIndex.from_product([["A", "B"], range(2), [\'a\', \'b\']]),\r\n                     columns=pd.MultiIndex.from_product([[\'a\', \'b\'], range(2)]))\r\n>>>df\r\n              a                   b          \r\n              0         1         0         1\r\nA 0 a  0.791022  0.810915  0.903327  0.623326\r\n    b  0.637121  0.521150  0.036788  0.302978\r\n  1 a  0.491420  0.622780  0.889818  0.859360\r\n    b  0.212784  0.056860  0.562042  0.349412\r\nB 0 a  0.246708  0.522429  0.822344  0.134595\r\n    b  0.219090  0.909012  0.166682  0.601046\r\n  1 a  0.638349  0.458048  0.997902  0.152901\r\n    b  0.294982  0.435510  0.350015  0.961403\r\n>>>df.loc["A"]  # Drops first level, since selecting with scalar value\r\n            a                   b          \r\n            0         1         0         1\r\n0 a  0.791022  0.810915  0.903327  0.623326\r\n  b  0.637121  0.521150  0.036788  0.302978\r\n1 a  0.491420  0.622780  0.889818  0.859360\r\n  b  0.212784  0.056860  0.562042  0.349412\r\n>>>df.loc[idx["A", :, :], :]  # Keeps first level, despite selecting with scalar value in first level\r\n              a                   b          \r\n              0         1         0         1\r\nA 0 a  0.791022  0.810915  0.903327  0.623326\r\n    b  0.637121  0.521150  0.036788  0.302978\r\n  1 a  0.491420  0.622780  0.889818  0.859360\r\n    b  0.212784  0.056860  0.562042  0.349412\r\n>>>df.loc[idx["A"]]  # Not how I would normally slice, but it is within the realm of possibilities. Scalar value drops level\r\n            a                   b          \r\n            0         1         0         1\r\n0 a  0.791022  0.810915  0.903327  0.623326\r\n  b  0.637121  0.521150  0.036788  0.302978\r\n1 a  0.491420  0.622780  0.889818  0.859360\r\n  b  0.212784  0.056860  0.562042  0.349412\r\n>>>df.loc[idx["A", :, :]]  # Slicing on 2 out of 3 levels will keep the level\r\n              a                   b          \r\n              0         1         0         1\r\nA 0 a  0.791022  0.810915  0.903327  0.623326\r\n    b  0.637121  0.521150  0.036788  0.302978\r\n  1 a  0.491420  0.622780  0.889818  0.859360\r\n    b  0.212784  0.056860  0.562042  0.349412\r\n>>>df.loc[idx["A", :]]  # Slicing on 1 level will drop the level\r\n            a                   b          \r\n            0         1         0         1\r\n0 a  0.791022  0.810915  0.903327  0.623326\r\n  b  0.637121  0.521150  0.036788  0.302978\r\n1 a  0.491420  0.622780  0.889818  0.859360\r\n  b  0.212784  0.056860  0.562042  0.349412\n```\n\n\n### Issue Description\n\nNot 100% sure this issue has not been reported yet. #10521 seems to discuss the same issue, but in my opinion doesn\'t generalize the problem well enough.\r\n\r\nWhen selecting from the DataFrame using .loc and a scalar value, the level that scalar value is indexing is dropped. But when selecting the same using IndexSlice, the behaviour is unpredictable (see examples). Depending on which and how much levels are \'sliced\' using a scalar, the level of that scalar selection may be dropped, but it is unclear what the rules for this are. Especially since there are some mentions in the documentation and other issues of scalars always dropping the level.\n\n### Expected Behavior\n\nAny index level that is selected using a scalar value from that level should either have the level dropped across index selection tools, or **not** have the level dropped across index selection tools. Either way, it should be consistent.\n\n### Installed Versions\n\n<details>\r\n\r\nINSTALLED VERSIONS\r\n------------------\r\ncommit           : e8093ba372f9adfe79439d90fe74b0b5b6dea9d6\r\npython           : 3.10.5.final.0\r\npython-bits      : 64\r\nOS               : Windows\r\nOS-release       : 10\r\nVersion          : 10.0.19044\r\nmachine          : AMD64\r\nprocessor        : Intel64 Family 6 Model 158 Stepping 13, GenuineIntel\r\nbyteorder        : little\r\nLC_ALL           : None\r\nLANG             : None\r\nLOCALE           : English_Netherlands.1252\r\n\r\npandas           : 1.4.3\r\nnumpy            : 1.23.0\r\npytz             : 2022.1\r\ndateutil         : 2.8.2\r\nsetuptools       : 63.1.0\r\npip              : 22.1.2\r\nCython           : None\r\npytest           : None\r\nhypothesis       : None\r\nsphinx           : None\r\nblosc            : None\r\nfeather          : None\r\nxlsxwriter       : None\r\nlxml.etree       : None\r\nhtml5lib         : None\r\npymysql          : None\r\npsycopg2         : None\r\njinja2           : 3.1.2\r\nIPython          : 8.4.0\r\npandas_datareader: None\r\nbs4              : 4.11.1\r\nbottleneck       : None\r\nbrotli           : None\r\nfastparquet      : None\r\nfsspec           : None\r\ngcsfs            : None\r\nmarkupsafe       : 2.1.1\r\nmatplotlib       : None\r\nnumba            : None\r\nnumexpr          : None\r\nodfpy            : None\r\nopenpyxl         : None\r\npandas_gbq       : None\r\npyarrow          : None\r\npyreadstat       : None\r\npyxlsb           : None\r\ns3fs             : None\r\nscipy            : None\r\nsnappy           : None\r\nsqlalchemy       : None\r\ntables           : None\r\ntabulate         : None\r\nxarray           : None\r\nxlrd             : None\r\nxlwt             : None\r\nzstandard        : None\r\n\r\n</details>\r\n\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47596/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47596/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47595',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47595/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47595/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47595/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/47595',
  'id': 1293522559,
  'node_id': 'PR_kwDOAA0YD8460RMY',
  'number': 47595,
  'title': 'CI: flake8-pyi',
  'user': {'login': 'twoertwein',
   'id': 6618166,
   'node_id': 'MDQ6VXNlcjY2MTgxNjY=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/6618166?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/twoertwein',
   'html_url': 'https://github.com/twoertwein',
   'followers_url': 'https://api.github.com/users/twoertwein/followers',
   'following_url': 'https://api.github.com/users/twoertwein/following{/other_user}',
   'gists_url': 'https://api.github.com/users/twoertwein/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/twoertwein/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/twoertwein/subscriptions',
   'organizations_url': 'https://api.github.com/users/twoertwein/orgs',
   'repos_url': 'https://api.github.com/users/twoertwein/repos',
   'events_url': 'https://api.github.com/users/twoertwein/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/twoertwein/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-07-04T19:48:47Z',
  'updated_at': '2022-07-04T21:35:42Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/47595',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/47595',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/47595.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/47595.patch',
   'merged_at': None},
  'body': None,
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47595/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47595/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47594',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47594/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47594/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47594/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/47594',
  'id': 1293388602,
  'node_id': 'PR_kwDOAA0YD846z1Ba',
  'number': 47594,
  'title': 'TST: added test for handling repeated keys when using Series.loc with Multiindex',
  'user': {'login': 'johnmantios',
   'id': 42983051,
   'node_id': 'MDQ6VXNlcjQyOTgzMDUx',
   'avatar_url': 'https://avatars.githubusercontent.com/u/42983051?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/johnmantios',
   'html_url': 'https://github.com/johnmantios',
   'followers_url': 'https://api.github.com/users/johnmantios/followers',
   'following_url': 'https://api.github.com/users/johnmantios/following{/other_user}',
   'gists_url': 'https://api.github.com/users/johnmantios/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/johnmantios/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/johnmantios/subscriptions',
   'organizations_url': 'https://api.github.com/users/johnmantios/orgs',
   'repos_url': 'https://api.github.com/users/johnmantios/repos',
   'events_url': 'https://api.github.com/users/johnmantios/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/johnmantios/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-07-04T16:55:42Z',
  'updated_at': '2022-07-04T16:55:42Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/47594',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/47594',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/47594.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/47594.patch',
   'merged_at': None},
  'body': '\r\n- [x] closes #19414.\r\n- [x] Tests added and passed.\r\n- [x] All code checks passed.\r\n\r\nAdded test for handling repeated keys when using Series.loc with Multiindex.\r\nTests and linter pass locally.',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47594/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47594/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47593',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47593/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47593/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47593/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/47593',
  'id': 1293012269,
  'node_id': 'I_kwDOAA0YD85NEc0t',
  'number': 47593,
  'title': "QST: pd.read_sql how to process with null char '\\0'",
  'user': {'login': 'flyly0755',
   'id': 45039060,
   'node_id': 'MDQ6VXNlcjQ1MDM5MDYw',
   'avatar_url': 'https://avatars.githubusercontent.com/u/45039060?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/flyly0755',
   'html_url': 'https://github.com/flyly0755',
   'followers_url': 'https://api.github.com/users/flyly0755/followers',
   'following_url': 'https://api.github.com/users/flyly0755/following{/other_user}',
   'gists_url': 'https://api.github.com/users/flyly0755/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/flyly0755/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/flyly0755/subscriptions',
   'organizations_url': 'https://api.github.com/users/flyly0755/orgs',
   'repos_url': 'https://api.github.com/users/flyly0755/repos',
   'events_url': 'https://api.github.com/users/flyly0755/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/flyly0755/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 34444536,
    'node_id': 'MDU6TGFiZWwzNDQ0NDUzNg==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Usage%20Question',
    'name': 'Usage Question',
    'color': '0052cc',

In [80]:
js[1]["user"]

{'login': 'mousey92',
 'id': 26246536,
 'node_id': 'MDQ6VXNlcjI2MjQ2NTM2',
 'avatar_url': 'https://avatars.githubusercontent.com/u/26246536?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/mousey92',
 'html_url': 'https://github.com/mousey92',
 'followers_url': 'https://api.github.com/users/mousey92/followers',
 'following_url': 'https://api.github.com/users/mousey92/following{/other_user}',
 'gists_url': 'https://api.github.com/users/mousey92/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/mousey92/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/mousey92/subscriptions',
 'organizations_url': 'https://api.github.com/users/mousey92/orgs',
 'repos_url': 'https://api.github.com/users/mousey92/repos',
 'events_url': 'https://api.github.com/users/mousey92/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/mousey92/received_events',
 'type': 'User',
 'site_admin': False}

In [73]:
len(js)

30

In [93]:
type(js)

list

In [84]:
for i in range(len(js)):
    print(js[i]["title"])

Added improvements in to_datetime Error reporting message
BUG: Inconsistent handling of dropping levels in MultiIndex when using IndexSlice
CI: flake8-pyi
TST: added test for handling repeated keys when using Series.loc with Multiindex
QST: pd.read_sql how to process with null char '\0'
BUG: raised error when converting (`.dt.tz_convert`) a NaT Series
ENH: Move CSSWarning to error/__init__.py per GH27656
TST: added test for to_json when called on numbers exceeding the int64 limit
TYP: return values in core/*.py
BUG: Series map ignoring na_action for dict or series mapper
DOC: Indicate `formatters` in `DataFrame.to_string` can specify `__index__`
REF: share DTA/TDA.__init__
BUG: loc aligning rhs with list indexer but not with scalar
BUG: pandas.Series.describe() displays confusing information
ENH: DTI/DTA.astype support non-nano
BUG: Setting incompatible values into ea column raises instead of casting to object
BUG: Spurious "FutureWarning: Use pd.to_datetime instead."
ENH: dataframe.astype() exception message to include column name
Fixed `tm.set_locale` context manager, it could error and leak when category LC_ALL was used
CI 1.4.x: Typing error Overload 2 for "searchsorted" will never be used because its parameters overlap overload 1
BUG: Can't create column with
⬆️ UPGRADE: Autoupdate pre-commit config
BUG: plot option sort_columns doesn't work
DEPR: numeic_only in Series and SeriesGroupBy consistency
TST: Test aggregate with list values #25581
ENH: RangeIndex._shallow_copy can return RangeIndex
BUG: Series with same index values, but in different orders, cannot be compared, but can be added
ENH/TST: Add BaseMethodsTests tests for ArrowExtensionArray
REGR: Ignore eval inplace
BUG: incorrect result of applying iloc with slice

In [85]:
for i in range(len(js)):
    print(js[i]["user"]["node_id"])

MDQ6VXNlcjE1MzgwNDk4
MDQ6VXNlcjI2MjQ2NTM2
MDQ6VXNlcjY2MTgxNjY=
MDQ6VXNlcjQyOTgzMDUx
MDQ6VXNlcjQ1MDM5MDYw
MDQ6VXNlcjY4NjA5NTc=
MDQ6VXNlcjE1NzIxMzEx
MDQ6VXNlcjQyOTgzMDUx
MDQ6VXNlcjY2MTgxNjY=
MDQ6VXNlcjYxOTM0NzQ0
MDQ6VXNlcjIzNjIwNTA2
MDQ6VXNlcjgwNzg5Njg=
MDQ6VXNlcjYxOTM0NzQ0
MDQ6VXNlcjgwMTkwOTA5
MDQ6VXNlcjgwNzg5Njg=
MDQ6VXNlcjYxOTM0NzQ0
MDQ6VXNlcjE3NjcwMTA=
MDQ6VXNlcjExNTg1NDI=
MDQ6VXNlcjMyMzY3OTQ=
MDQ6VXNlcjYxOTM0NzQ0
MDQ6VXNlcjY4MDUzMzk2
MDM6Qm90NDE4OTgyODI=
MDQ6VXNlcjE1OTcxNA==
MDQ6VXNlcjQ1NTYyNDAy
U_kgDOBcws0A
MDQ6VXNlcjEwNjQ3MDgy
MDQ6VXNlcjE1MTEzODk0
MDQ6VXNlcjEwNjQ3MDgy
MDQ6VXNlcjMxODU3ODc2
MDQ6VXNlcjExMzY0OTY=

In [92]:
df4= pd.DataFrame(js)
df4.to_csv("E:/Technical/DS_AI_ML/ineuron_internship/pandas_learning/git.csv", index=False)

In [95]:
d_f=[]
for i in range(len(js)):
    d_f.append(js[i]["user"])
df5= pd.DataFrame(d_f)
df5.to_csv("E:/Technical/DS_AI_ML/ineuron_internship/pandas_learning/git_user.csv", index=False)

In [96]:
json_data = pd.read_json("https://api.github.com/repos/pandas-dev/pandas/issues")
data = pd.DataFrame.from_records(json_data['user'])
data.head()

,login,id,node_id,avatar_url,gravatar_id,url,html_url,followers_url,following_url,gists_url,starred_url,subscriptions_url,organizations_url,repos_url,events_url,received_events_url,type,site_admin
0,dannyi96,15380498,MDQ6VXNlcjE1MzgwNDk4,https://avatars.githubusercontent.com/u/153804...,,https://api.github.com/users/dannyi96,https://github.com/dannyi96,https://api.github.com/users/dannyi96/followers,https://api.github.com/users/dannyi96/followin...,https://api.github.com/users/dannyi96/gists{/g...,https://api.github.com/users/dannyi96/starred{...,https://api.github.com/users/dannyi96/subscrip...,https://api.github.com/users/dannyi96/orgs,https://api.github.com/users/dannyi96/repos,https://api.github.com/users/dannyi96/events{/...,https://api.github.com/users/dannyi96/received...,User,False
1,mousey92,26246536,MDQ6VXNlcjI2MjQ2NTM2,https://avatars.githubusercontent.com/u/262465...,,https://api.github.com/users/mousey92,https://github.com/mousey92,https://api.github.com/users/mousey92/followers,https://api.github.com/users/mousey92/followin...,https://api.github.com/users/mousey92/gists{/g...,https://api.github.com/users/mousey92/starred{...,https://api.github.com/users/mousey92/subscrip...,https://api.github.com/users/mousey92/orgs,https://api.github.com/users/mousey92/repos,https://api.github.com/users/mousey92/events{/...,https://api.github.com/users/mousey92/received...,User,False
2,twoertwein,6618166,MDQ6VXNlcjY2MTgxNjY=,https://avatars.githubusercontent.com/u/661816...,,https://api.github.com/users/twoertwein,https://github.com/twoertwein,https://api.github.com/users/twoertwein/followers,https://api.github.com/users/twoertwein/follow...,https://api.github.com/users/twoertwein/gists{...,https://api.github.com/users/twoertwein/starre...,https://api.github.com/users/twoertwein/subscr...,https://api.github.com/users/twoertwein/orgs,https://api.github.com/users/twoertwein/repos,https://api.github.com/users/twoertwein/events...,https://api.github.com/users/twoertwein/receiv...,User,False
3,johnmantios,42983051,MDQ6VXNlcjQyOTgzMDUx,https://avatars.githubusercontent.com/u/429830...,,https://api.github.com/users/johnmantios,https://github.com/johnmantios,https://api.github.com/users/johnmantios/follo...,https://api.github.com/users/johnmantios/follo...,https://api.github.com/users/johnmantios/gists...,https://api.github.com/users/johnmantios/starr...,https://api.github.com/users/johnmantios/subsc...,https://api.github.com/users/johnmantios/orgs,https://api.github.com/users/johnmantios/repos,https://api.github.com/users/johnmantios/event...,https://api.github.com/users/johnmantios/recei...,User,False
4,flyly0755,45039060,MDQ6VXNlcjQ1MDM5MDYw,https://avatars.githubusercontent.com/u/450390...,,https://api.github.com/users/flyly0755,https://github.com/flyly0755,https://api.github.com/users/flyly0755/followers,https://api.github.com/users/flyly0755/followi...,https://api.github.com/users/flyly0755/gists{/...,https://api.github.com/users/flyly0755/starred...,https://api.github.com/users/flyly0755/subscri...,https://api.github.com/users/flyly0755/orgs,https://api.github.com/users/flyly0755/repos,https://api.github.com/users/flyly0755/events{...,https://api.github.com/users/flyly0755/receive...,User,False

In [97]:
pd.DataFrame([js[i]["user"] for i in range(len(js))])

,login,id,node_id,avatar_url,gravatar_id,url,html_url,followers_url,following_url,gists_url,starred_url,subscriptions_url,organizations_url,repos_url,events_url,received_events_url,type,site_admin
0,dannyi96,15380498,MDQ6VXNlcjE1MzgwNDk4,https://avatars.githubusercontent.com/u/153804...,,https://api.github.com/users/dannyi96,https://github.com/dannyi96,https://api.github.com/users/dannyi96/followers,https://api.github.com/users/dannyi96/followin...,https://api.github.com/users/dannyi96/gists{/g...,https://api.github.com/users/dannyi96/starred{...,https://api.github.com/users/dannyi96/subscrip...,https://api.github.com/users/dannyi96/orgs,https://api.github.com/users/dannyi96/repos,https://api.github.com/users/dannyi96/events{/...,https://api.github.com/users/dannyi96/received...,User,False
1,mousey92,26246536,MDQ6VXNlcjI2MjQ2NTM2,https://avatars.githubusercontent.com/u/262465...,,https://api.github.com/users/mousey92,https://github.com/mousey92,https://api.github.com/users/mousey92/followers,https://api.github.com/users/mousey92/followin...,https://api.github.com/users/mousey92/gists{/g...,https://api.github.com/users/mousey92/starred{...,https://api.github.com/users/mousey92/subscrip...,https://api.github.com/users/mousey92/orgs,https://api.github.com/users/mousey92/repos,https://api.github.com/users/mousey92/events{/...,https://api.github.com/users/mousey92/received...,User,False
2,twoertwein,6618166,MDQ6VXNlcjY2MTgxNjY=,https://avatars.githubusercontent.com/u/661816...,,https://api.github.com/users/twoertwein,https://github.com/twoertwein,https://api.github.com/users/twoertwein/followers,https://api.github.com/users/twoertwein/follow...,https://api.github.com/users/twoertwein/gists{...,https://api.github.com/users/twoertwein/starre...,https://api.github.com/users/twoertwein/subscr...,https://api.github.com/users/twoertwein/orgs,https://api.github.com/users/twoertwein/repos,https://api.github.com/users/twoertwein/events...,https://api.github.com/users/twoertwein/receiv...,User,False
3,johnmantios,42983051,MDQ6VXNlcjQyOTgzMDUx,https://avatars.githubusercontent.com/u/429830...,,https://api.github.com/users/johnmantios,https://github.com/johnmantios,https://api.github.com/users/johnmantios/follo...,https://api.github.com/users/johnmantios/follo...,https://api.github.com/users/johnmantios/gists...,https://api.github.com/users/johnmantios/starr...,https://api.github.com/users/johnmantios/subsc...,https://api.github.com/users/johnmantios/orgs,https://api.github.com/users/johnmantios/repos,https://api.github.com/users/johnmantios/event...,https://api.github.com/users/johnmantios/recei...,User,False
4,flyly0755,45039060,MDQ6VXNlcjQ1MDM5MDYw,https://avatars.githubusercontent.com/u/450390...,,https://api.github.com/users/flyly0755,https://github.com/flyly0755,https://api.github.com/users/flyly0755/followers,https://api.github.com/users/flyly0755/followi...,https://api.github.com/users/flyly0755/gists{/...,https://api.github.com/users/flyly0755/starred...,https://api.github.com/users/flyly0755/subscri...,https://api.github.com/users/flyly0755/orgs,https://api.github.com/users/flyly0755/repos,https://api.github.com/users/flyly0755/events{...,https://api.github.com/users/flyly0755/receive...,User,False
5,igonro,6860957,MDQ6VXNlcjY4NjA5NTc=,https://avatars.githubusercontent.com/u/686095...,,https://api.github.com/users/igonro,https://github.com/igonro,https://api.github.com/users/igonro/followers,https://api.github.com/users/igonro/following{...,https://api.github.com/users/igonro/gists{/gis...,https://api.github.com/users/igonro/starred{/o...,https://api.github.com/users/igonro/subscriptions,https://api.github.com/users/igonro/orgs,https://api.github.com/users/igonro/repos,https://api.github.com/users/igonro/events{/pr...,https://api.github.com/users/igonro/received_e...,User,False
6,dataxerik,15721311,MDQ6VXNlcjE1NzIxMzEx,https://avatars.githubusercontent.com/u/157213...,,https://api.github.com/users/dataxerik,https://github.com/dataxerik,https://api.github.com/users/dataxerik/followers,https://api.github.com/users/dataxerik/followi...,https://api.github.com/users/dataxerik/gists{/...,https://api.github.com/users/dataxerik/starred...,https://api.github.com/users/dataxerik/subscri...,https://api.github.com/users/dataxerik/orgs,https://api.github.com/users/dataxerik/repos,https://api.github.com/users/dataxerik/events{...,https://api.github.com/users/dataxerik/receive...,User,False
7,johnmantios,42983051,MDQ6VXNlcjQyOTgzMDUx,https://avatars.githubusercontent.com/u/429830...,,https://api.github.com/users/johnmantios,https://github.com/johnmantios,https://api.github.com/users/johnmantios/follo...,https://api.github.com/users/johnmantios/follo...,https://api.github.com/users/johnmantios/gists...,https://api.github.com/users/johnmantios/starr...,https://api.github.com/users/johnmantios/subsc...,https://api.github.com/users/johnmantios/orgs,https://api.github.com/users/johnmantios/repos,https://api.github.com/users/johnmantios/event...,https://api.github.com/users/johnmantios/recei...,User,False
8,twoertwein,6618166,MDQ6VXNlcjY2MTgxNjY=,https://avatars.githubusercontent.com/u/661816...,,https://api.github.com/users/twoertwein,https://github.com/twoertwein,https://api.github.com/users/twoertwein/followers,https://api.github.com/users/twoertwein/follow...,https://api.github.com/users/twoertwein/gists{...,https://api.github.com/users/twoertwein/starre...,https://api.github.com/users/twoertwein/subscr...,https://api.github.com/users/twoertwein/orgs,https://api.github.com/users/twoertwein/repos,https://api.github.com/users/twoertwein/events...,https://api.github.com/users/twoertwein/receiv...,User,False
9,phofl,61934744,MDQ6VXNlcjYxOTM0NzQ0,https://avatars.githubusercontent.com/u/619347...,,https://api.github.com/users/phofl,https://github.com/phofl,https://api.github.com/users/phofl/followers,https://api.github.com/users/phofl/following{/...,https://api.github.com/users/phofl/gists{/gist...,https://api.github.com/users/phofl/starred{/ow...,https://api.github.com/users/phofl/subscriptions,https://api.github.com/users/phofl/orgs,https://api.github.com/users/phofl/repos,https://api.github.com/users/phofl/events{/pri...,https://api.github.com/users/phofl/received_ev...,User,False
10,ntjess,23620506,MDQ6VXNlcjIzNjIwNTA2,https://avatars.githubusercontent.com/u/236205...,,https://api.github.com/users/ntjess,https://github.com/ntjess,https://api.github.com/users/ntjess/followers,https://api.github.com/users/ntjess/following{...,https://api.github.com/users/ntjess/gists{/gis...,https://api.github.com/users/ntjess/starred{/o...,https://api.github.com/users/ntjess/subscriptions,https://api.github.com/users/ntjess/orgs,https://api.github.com/users/ntjess/repos,https://api.github.com/users/ntjess/events{/pr...,https://api.github.com/users/ntjess/received_e...,User,False
11,jbrockmendel,8078968,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,,https://api.github.com/users/jbrockmendel,https://github.com/jbrockmendel,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
12,phofl,61934744,MDQ6VXNlcjYxOTM0NzQ0,https://avatars.githubusercontent.com/u/619347...,,https://api.github.com/users/phofl,https://github.com/phofl,https://api.github.com/users/phofl/followers,https://api.github.com/users/phofl/following{/...,https://api.github.com/users/phofl/gists{/gist...,https://api.github.com/users/phofl/starred{/ow...,https://api.github.com/users/phofl/subscriptions,https://api.github.com/users/phofl/orgs,https://api.github.com/users/phofl/repos,https://api.github.com/users/phofl/events{/pri...,https://api.github.com/users/phofl/received_ev...,User,False
13,Iqigai,80190909,MDQ6VXNlcjgwMTkwOTA5,https://avatars.githubusercontent.com/u/801909...,,https://api.github.com/users/Iqigai,https://github.com/Iqigai,https://api.github.com/users/Iqigai/followers,https://api.github.com/users/Iqigai/following{...,https://api.github.com/users/Iqigai/gists{/gis...,https://api.github.com/users/Iqigai/starred{/o...,https://api.github.com/users/Iqigai/subscriptions,https://api.github.com/users/Iqigai/orgs,https://api.github.com/users/Iqigai/repos,https://api.github.com/users/Iqigai/events{/pr...,https://api.github.com/users/Iqigai/received_e...,User,False
14,jbrockmendel,8078968,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,,https://api.github.com/users/jbrockmendel,https://github.com/jbrockmendel,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
15,phofl,61934744,MDQ6VXNlcjYxOTM0NzQ0,https://avatars.githubusercontent.com/u/619347...,,https://api.github.com/users/phofl,https://github.com/phofl,https://api.github.com/users/phofl/followers,https://api.github.com/users/phofl/following{/...,https://api.github.com/users/phofl/gists{/gist...,https://api.github.com/users/phofl/starred{/ow...,https://api.github.com/users/phofl/subscriptions,https://api.github.com/users/phofl/orgs,https://api.github.com/users/phofl/repos,https://api.github.com/users/phofl/events{/pri...,https://api.github.com/users/phofl/received_ev...,User,False
16,lafrech,1767010,MDQ6VXNlcjE3NjcwMTA=,https://avatars.githubusercontent.com/u/176701...,,https://api.github.com/users/lafrech,https://github.com/lafrech,https://api.github.com/users/lafrech/followers,https://api.github.com/users/lafrech/following...,https://api.github.com/users/lafrech/gists{/gi...,https://api.github.com/users/lafrech/starred{/...,https://api.github.com/users/lafrech/subscript...,https://api.github.com/users/lafrech/orgs,https://api.github.com/users/lafrech/repos,https://api.github.com/users/lafrech/events{/p...,https://api.github.com/users/lafrech/received_...,User,False
17,d3bgger,1158542,MDQ6VXNlcjExNTg1NDI=,https://avatars.githubusercontent.com/u/115854...,,https://api.github.com/users/d3bgger,https://github.com/d3bgger,https://api.github.com/users/d3bgger/followers,https://api.github.com/users/d3bgger/following...,https://api.github.com/users/d3bgger/gists{/gi...,https://api.github.com/users/d3bgger/starred{/...,https://api.github.com/users/d3bgger/subscript...,https://api.github.com/users/d3bgger/orgs,https://api.github.com/users/d3bgger/repos,https://api.github.com/users/d3bgger/events{/p...,https://api.github.com/users/d3bgger/received_...,User,False
18,smarie,3236794,MDQ6VXNlcjMyMzY3OTQ=,https://avatars.githubusercontent.com/u/323679...,,https://api.github.com/users/smarie,https://github.com/smarie,https://api.github.com/users/smarie/followers,https://api.github.com/users/smarie/following{...,https://api.github.com/users/smarie/gists{/gis...,https://api.github.com/users/smarie/starred{/o...,https://api.github.com/users/smarie/subscriptions,https://api.github.com/users/smarie/orgs,https://api.github.com/users/smarie/repos,https://api.github.com/users/smarie/events{/pr...,https://api.github.com/users/smarie/received_e...,User,False
19,phofl,61934744,MDQ6VXNlcjYxOTM0NzQ0,https://avatars.githubusercontent.com/u/619347...,,https://api.github.com/users/phofl,https://github.com/phofl,https://api.github.com/users/phofl/followers,https://api.github.com/users/phofl/following{/...,https://api.github.com/users/phofl/gists{/gist...,https://api.github.com/users/phofl/starred{/ow...,https://api.github.com/users/phofl/subscriptions,https://api.github.com/users/phofl/orgs,https://api.github.com/users/phofl/repos,https://api.github.com/users/phofl/events{/pri...,https://api.github.com/users/phofl/received_ev...,User,False
20,mosc9575,68053396,MDQ6VXNlcjY4MDUzMzk2,https://avatars.githubusercontent.com/u/680533...,,https://api.github.com/users/mosc9575,https://github.com/mosc9575,https://api.github.com/users/mosc9575/followers,https://api.github.com/users/mosc9575/followin...,https://api.github.com/users/mosc9575/gists{/g...,https://api.github.com/users/mosc9575/starred{...,https://api.github.com/users/mosc9575/subscrip...,https://api.github.com/users/mosc9575/orgs,https://api.github.com/users/mosc9575/repos,https://api.github.com/users/mosc9575/events{/...,https://api.github.com/users/mosc9575/received...,User,False
21,github-actions[bot],41898282,MDM6Qm90NDE4OTgyODI=,https://avatars.githubusercontent.com/in/15368...,,https://api.github.com/users/github-actions%5B...,https://github.com/apps/github-actions,https://api.github.com/users/github-actions%5B...,https://api.github.com/users/github-actions%5B...,https://api.github.com/users/github-actions%5B...,https://api.github.com/users/github-actions%5B...,https://api.github.com/users/github-actions%5B...,https://api.github.com/users/github-actions%5B...,https://api.github.com/users/github-actions%5B...,https://api.github.com/users/github-actions%5B...,https://api.github.com/users/github-actions%5B...,Bot,False
22,PorcelainMouse,159714,MDQ6VXNlcjE1OTcxNA==,https://avatars.githubusercontent.com/u/159714...,,https://api.github.com/users/PorcelainMouse,https://github.com/PorcelainMouse,https://api.github.com/users/PorcelainMouse/fo...,https://api.github.com/users/PorcelainMouse/fo...,https://api.github.com/users/PorcelainMouse/gi...,https://api.github.com/users/PorcelainMouse/st...,https://api.github.com/users/PorcelainMouse/su...,https://api.github.com/users/PorcelainMouse/orgs,https://api.github.com/users/PorcelainMouse/repos,https://api.github.com/users/PorcelainMouse/ev...,https://api.github.com/users/PorcelainMouse/re...,User,False
23,rhshadrach,45562402,MDQ6VXNlcjQ1NTYyNDAy,https://avatars.githubusercontent.com/u/455624...,,https://api.github.com/users/rhshadrach,https://github.com/rhshadrach,https://api.github.com/users/rhshadrach/followers,https://api.github.com/users/rhshadrach/follow...,https://api.github.com/users/rhshadrach/gists{...,https://api.github.com/users/rhshadrach/starre...,https://api.github.com/users/rhshadrach/subscr...,https://api.github.com/users/rhshadrach/orgs,https://api.github.com/users/rhshadrach/repos,https://api.github.com/users/rhshadrach/events...,https://api.github.com/users/rhshadrach/receiv...,User,False
24,srotondo,97266896,U_kgDOBcws0A,https://avatars.githubusercontent.com/u/972668...,,https://api.github.com/users/srotondo,https://github.com/srotondo,https://api.github.com/users/srotondo/followers,https://api.github.com/users/srotondo/followin...,https://api.github.com/users/srotondo/gists{/g...,https://api.github.com/users/srotondo/starred{...,https://api.github.com/users/srotondo/subscrip...,https://api.github.com/users/srotondo/orgs,https://api.github.com/users/srotondo/repos,https://api.github.com/users/srotondo/events{/...,https://api.github.com/users/srotondo/received...,User,False
25,mroeschke,10647082,MDQ6VXNlcjEwNjQ3MDgy,https://avatars.githubusercontent.com/u/106470...,,https://api.github.com/users/mroeschke,https://github.com/mroeschke,https://api.github.com/users/mroeschke/followers,https://api.github.com/users/mroeschke/followi...,https://api.github.com/users/mroeschke/gists{/...,https://api.github.com/users/mroeschke/starred...,https://api.github.com/users/mroeschke/subscri...,https://api.github.com/users/mroeschke/orgs,https://api.github.com/users/mroeschke/repos,https://api.github.com/users/mroeschke/events{...,https://api.github.com/users/mroeschke/receive...,User,False
26,Dr-Irv,15113894,MDQ6VXNlcjE1MTEzODk0,https://avatars.githubusercontent.com/u/151138...,,https://api.github.com/users/Dr-Irv,https://github.com/Dr-Irv,https://api.github.com/users/Dr-Irv/followers,https://api.github.com/users/Dr-Irv/following{...,https://api.github.com/users/Dr-Irv/gists{/gis...,https://api.github.com/users/Dr-Irv/starred{/o...,https://api.github.com/users/Dr-Irv/subscriptions,https://api.github.com/users/Dr-Irv/orgs,https://api.github.com/users/Dr-Irv/repos,https://api.github.com/users/Dr-Irv/events{/pr...,https://api.github.com/users/Dr-Irv/received_e...,User,False
27,mroeschke,10647082,MDQ6VXNlcjEwNjQ3MDgy,https://avatars.githubusercontent.com/u/106470...,,https://api.github.com/users/mroeschke,https://github.com/mroeschke,https://api.github.com/users/mroeschke/followers,https://api.github.com/users/mroeschke/followi...,https://api.github.com/users/mroeschke/gists{/...,https://api.github.com/users/mroeschke/starred...,https://api.github.com/users/mroeschke/subscri...,https://api.github.com/users/mroeschke/orgs,https://api.github.com/users/mroeschke/repos,https://api.github.com/users/mroeschke/events{...,https://api.github.com/users/mroeschke/receive...,User,False
28,CloseChoice,31857876,MDQ6VXNlcjMxODU3ODc2,https://avatars.githubusercontent.com/u/318578...,,https://api.github.com/users/CloseChoice,https://github.com/CloseChoice,https://api.github.com/users/CloseChoice/follo...,https://api.github.com/users/CloseChoice/follo...,https://api.github.com/users/CloseChoice/gists...,https://api.github.com/users/CloseChoice/starr...,https://api.github.com/users/CloseChoice/subsc...,https://api.github.com/users/CloseChoice/orgs,https://api.github.com/users/CloseChoice/repos,https://api.github.com/users/CloseChoice/event...,https://api.github.com/users/CloseChoice/recei...,User,False
29,akasolace,1136496,MDQ6VXNlcjExMzY0OTY=,https://avatars.githubusercontent.com/u/113649...,,https://api.github.com/users/akasolace,https://github.com/akasolace,https://api.github.com/users/akasolace/followers,https://api.github.com/users/akasolace/followi...,https://api.github.com/users/akasolace/gists{/...,https://api.github.com/users/akasolace/starred...,https://api.github.com/users/akasolace/subscri...,https://api.github.com/users/akasolace/orgs,https://api.github.com/users/akasolace/repos,https://api.github.com/users/akasolace/events{...,https://api.github.com/users/akasolace/receive...,User,False

# # Pandas Lecture - 2

In [1]:
import pandas as pd

In [3]:
pckl= pd.read_csv("E:/Technical/DS_AI_ML/ineuron_internship/pandas_learning/basketball.csv")

In [6]:
pckl.to_pickle("E:/Technical/DS_AI_ML/ineuron_internship/pandas_learning/my_pickle")

In [7]:
pckl

,Unnamed: 0,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,2009-10,20.0,OKC,NBA,PF,6.0,0.0,153.0,20.0,...,0.700,13.0,26.0,39.0,2.0,2.0,12.0,6.0,19.0,47.0
1,1,2010-11,21.0,OKC,NBA,PF,17.0,17.0,490.0,67.0,...,0.825,47.0,77.0,124.0,3.0,4.0,52.0,21.0,64.0,167.0
2,2,2011-12,22.0,OKC,NBA,PF,20.0,20.0,569.0,84.0,...,0.722,47.0,68.0,115.0,12.0,11.0,59.0,11.0,57.0,195.0
3,3,2012-13,23.0,OKC,NBA,PF,11.0,11.0,366.0,59.0,...,0.792,39.0,53.0,92.0,8.0,0.0,33.0,7.0,38.0,141.0
4,4,2013-14,24.0,OKC,NBA,PF,17.0,17.0,581.0,87.0,...,0.765,31.0,85.0,116.0,12.0,11.0,42.0,20.0,54.0,205.0
5,5,2015-16,26.0,OKC,NBA,PF,18.0,18.0,602.0,85.0,...,0.750,23.0,90.0,113.0,10.0,14.0,24.0,9.0,51.0,216.0
6,6,2016-17,27.0,TOR,NBA,PF,10.0,10.0,307.0,60.0,...,0.846,9.0,56.0,65.0,14.0,4.0,17.0,11.0,37.0,143.0
7,7,2017-18,28.0,TOR,NBA,PF,10.0,9.0,260.0,30.0,...,0.818,13.0,46.0,59.0,11.0,1.0,13.0,16.0,21.0,87.0
8,8,2018-19,29.0,TOR,NBA,C,24.0,0.0,500.0,92.0,...,0.762,35.0,108.0,143.0,22.0,11.0,23.0,25.0,79.0,225.0
9,9,2019-20,30.0,TOR,NBA,C,11.0,0.0,251.0,63.0,...,1.000,17.0,68.0,85.0,13.0,2.0,14.0,12.0,27.0,163.0
10,10,2020-21,31.0,LAC,NBA,C,2.0,0.0,18.0,3.0,...,1.000,1.0,3.0,4.0,2.0,1.0,3.0,1.0,1.0,10.0
11,11,2021-22,32.0,MIL,NBA,PF,6.0,0.0,22.0,4.0,...,0.500,2.0,8.0,10.0,0.0,0.0,0.0,2.0,1.0,9.0
12,12,Career,NaN,NaN,NBA,NaN,152.0,102.0,4119.0,654.0,...,0.789,277.0,688.0,965.0,109.0,61.0,292.0,141.0,449.0,1608.0
13,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,6 seasons,NaN,OKC,NBA,NaN,89.0,83.0,2761.0,402.0,...,0.768,200.0,399.0,599.0,47.0,42.0,222.0,74.0,283.0,971.0
15,15,4 seasons,NaN,TOR,NBA,NaN,55.0,19.0,1318.0,245.0,...,0.824,74.0,278.0,352.0,60.0,18.0,67.0,64.0,164.0,618.0
16,16,1 season,NaN,MIL,NBA,NaN,6.0,0.0,22.0,4.0,...,0.500,2.0,8.0,10.0,0.0,0.0,0.0,2.0,1.0,9.0
17,17,1 season,NaN,LAC,NBA,NaN,2.0,0.0,18.0,3.0,...,1.000,1.0,3.0,4.0,2.0,1.0,3.0,1.0,1.0,10.0

In [8]:
h5_data= pd.HDFStore("E:/Technical/DS_AI_ML/ineuron_internship/pandas_learning/test.h5")

In [9]:
h5_data["obj"]= pckl

C:\Users\shiva\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block2_values] [items->Index(['Season', 'Tm', 'Lg', 'Pos'], dtype='object')]

  exec(code_obj, self.user_global_ns, self.user_ns)

In [10]:
h5_data["obj"]

,Unnamed: 0,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,2009-10,20.0,OKC,NBA,PF,6.0,0.0,153.0,20.0,...,0.700,13.0,26.0,39.0,2.0,2.0,12.0,6.0,19.0,47.0
1,1,2010-11,21.0,OKC,NBA,PF,17.0,17.0,490.0,67.0,...,0.825,47.0,77.0,124.0,3.0,4.0,52.0,21.0,64.0,167.0
2,2,2011-12,22.0,OKC,NBA,PF,20.0,20.0,569.0,84.0,...,0.722,47.0,68.0,115.0,12.0,11.0,59.0,11.0,57.0,195.0
3,3,2012-13,23.0,OKC,NBA,PF,11.0,11.0,366.0,59.0,...,0.792,39.0,53.0,92.0,8.0,0.0,33.0,7.0,38.0,141.0
4,4,2013-14,24.0,OKC,NBA,PF,17.0,17.0,581.0,87.0,...,0.765,31.0,85.0,116.0,12.0,11.0,42.0,20.0,54.0,205.0
5,5,2015-16,26.0,OKC,NBA,PF,18.0,18.0,602.0,85.0,...,0.750,23.0,90.0,113.0,10.0,14.0,24.0,9.0,51.0,216.0
6,6,2016-17,27.0,TOR,NBA,PF,10.0,10.0,307.0,60.0,...,0.846,9.0,56.0,65.0,14.0,4.0,17.0,11.0,37.0,143.0
7,7,2017-18,28.0,TOR,NBA,PF,10.0,9.0,260.0,30.0,...,0.818,13.0,46.0,59.0,11.0,1.0,13.0,16.0,21.0,87.0
8,8,2018-19,29.0,TOR,NBA,C,24.0,0.0,500.0,92.0,...,0.762,35.0,108.0,143.0,22.0,11.0,23.0,25.0,79.0,225.0
9,9,2019-20,30.0,TOR,NBA,C,11.0,0.0,251.0,63.0,...,1.000,17.0,68.0,85.0,13.0,2.0,14.0,12.0,27.0,163.0
10,10,2020-21,31.0,LAC,NBA,C,2.0,0.0,18.0,3.0,...,1.000,1.0,3.0,4.0,2.0,1.0,3.0,1.0,1.0,10.0
11,11,2021-22,32.0,MIL,NBA,PF,6.0,0.0,22.0,4.0,...,0.500,2.0,8.0,10.0,0.0,0.0,0.0,2.0,1.0,9.0
12,12,Career,NaN,NaN,NBA,NaN,152.0,102.0,4119.0,654.0,...,0.789,277.0,688.0,965.0,109.0,61.0,292.0,141.0,449.0,1608.0
13,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,6 seasons,NaN,OKC,NBA,NaN,89.0,83.0,2761.0,402.0,...,0.768,200.0,399.0,599.0,47.0,42.0,222.0,74.0,283.0,971.0
15,15,4 seasons,NaN,TOR,NBA,NaN,55.0,19.0,1318.0,245.0,...,0.824,74.0,278.0,352.0,60.0,18.0,67.0,64.0,164.0,618.0
16,16,1 season,NaN,MIL,NBA,NaN,6.0,0.0,22.0,4.0,...,0.500,2.0,8.0,10.0,0.0,0.0,0.0,2.0,1.0,9.0
17,17,1 season,NaN,LAC,NBA,NaN,2.0,0.0,18.0,3.0,...,1.000,1.0,3.0,4.0,2.0,1.0,3.0,1.0,1.0,10.0

In [11]:
h5_data.put("obj1", pckl, format="table")

In [13]:
h5_data.select("obj1", where= ["index>=10 and index<=15"])

,Unnamed: 0,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
10,10,2020-21,31.0,LAC,NBA,C,2.0,0.0,18.0,3.0,...,1.000,1.0,3.0,4.0,2.0,1.0,3.0,1.0,1.0,10.0
11,11,2021-22,32.0,MIL,NBA,PF,6.0,0.0,22.0,4.0,...,0.500,2.0,8.0,10.0,0.0,0.0,0.0,2.0,1.0,9.0
12,12,Career,NaN,NaN,NBA,NaN,152.0,102.0,4119.0,654.0,...,0.789,277.0,688.0,965.0,109.0,61.0,292.0,141.0,449.0,1608.0
13,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,6 seasons,NaN,OKC,NBA,NaN,89.0,83.0,2761.0,402.0,...,0.768,200.0,399.0,599.0,47.0,42.0,222.0,74.0,283.0,971.0
15,15,4 seasons,NaN,TOR,NBA,NaN,55.0,19.0,1318.0,245.0,...,0.824,74.0,278.0,352.0,60.0,18.0,67.0,64.0,164.0,618.0

In [18]:
h5_data["obj1"]

,Unnamed: 0,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,2009-10,20.0,OKC,NBA,PF,6.0,0.0,153.0,20.0,...,0.700,13.0,26.0,39.0,2.0,2.0,12.0,6.0,19.0,47.0
1,1,2010-11,21.0,OKC,NBA,PF,17.0,17.0,490.0,67.0,...,0.825,47.0,77.0,124.0,3.0,4.0,52.0,21.0,64.0,167.0
2,2,2011-12,22.0,OKC,NBA,PF,20.0,20.0,569.0,84.0,...,0.722,47.0,68.0,115.0,12.0,11.0,59.0,11.0,57.0,195.0
3,3,2012-13,23.0,OKC,NBA,PF,11.0,11.0,366.0,59.0,...,0.792,39.0,53.0,92.0,8.0,0.0,33.0,7.0,38.0,141.0
4,4,2013-14,24.0,OKC,NBA,PF,17.0,17.0,581.0,87.0,...,0.765,31.0,85.0,116.0,12.0,11.0,42.0,20.0,54.0,205.0
5,5,2015-16,26.0,OKC,NBA,PF,18.0,18.0,602.0,85.0,...,0.750,23.0,90.0,113.0,10.0,14.0,24.0,9.0,51.0,216.0
6,6,2016-17,27.0,TOR,NBA,PF,10.0,10.0,307.0,60.0,...,0.846,9.0,56.0,65.0,14.0,4.0,17.0,11.0,37.0,143.0
7,7,2017-18,28.0,TOR,NBA,PF,10.0,9.0,260.0,30.0,...,0.818,13.0,46.0,59.0,11.0,1.0,13.0,16.0,21.0,87.0
8,8,2018-19,29.0,TOR,NBA,C,24.0,0.0,500.0,92.0,...,0.762,35.0,108.0,143.0,22.0,11.0,23.0,25.0,79.0,225.0
9,9,2019-20,30.0,TOR,NBA,C,11.0,0.0,251.0,63.0,...,1.000,17.0,68.0,85.0,13.0,2.0,14.0,12.0,27.0,163.0
10,10,2020-21,31.0,LAC,NBA,C,2.0,0.0,18.0,3.0,...,1.000,1.0,3.0,4.0,2.0,1.0,3.0,1.0,1.0,10.0
11,11,2021-22,32.0,MIL,NBA,PF,6.0,0.0,22.0,4.0,...,0.500,2.0,8.0,10.0,0.0,0.0,0.0,2.0,1.0,9.0
12,12,Career,NaN,NaN,NBA,NaN,152.0,102.0,4119.0,654.0,...,0.789,277.0,688.0,965.0,109.0,61.0,292.0,141.0,449.0,1608.0
13,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,6 seasons,NaN,OKC,NBA,NaN,89.0,83.0,2761.0,402.0,...,0.768,200.0,399.0,599.0,47.0,42.0,222.0,74.0,283.0,971.0
15,15,4 seasons,NaN,TOR,NBA,NaN,55.0,19.0,1318.0,245.0,...,0.824,74.0,278.0,352.0,60.0,18.0,67.0,64.0,164.0,618.0
16,16,1 season,NaN,MIL,NBA,NaN,6.0,0.0,22.0,4.0,...,0.500,2.0,8.0,10.0,0.0,0.0,0.0,2.0,1.0,9.0
17,17,1 season,NaN,LAC,NBA,NaN,2.0,0.0,18.0,3.0,...,1.000,1.0,3.0,4.0,2.0,1.0,3.0,1.0,1.0,10.0

In [151]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [152]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [153]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [154]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [31]:
type(df.dtypes)

pandas.core.series.Series

In [26]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [27]:
type(df)

pandas.core.frame.DataFrame

In [30]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [117]:
df1= df[df.dtypes[df.dtypes== "object"].index]

In [138]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
shivang         object
shivangs         int64
dtype: object

In [140]:
df.dtypes== "object"

PassengerId    False
Survived       False
Pclass         False
Name            True
Sex             True
Age            False
SibSp          False
Parch          False
Ticket          True
Fare           False
Cabin           True
Embarked        True
shivang         True
shivangs       False
dtype: bool

In [142]:
df[df.dtypes[df.dtypes=="object"].index]

,Name,Sex,Ticket,Cabin,Embarked,shivang
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S,shahi
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C,shahi
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S,shahi
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S,shahi
4,"Allen, Mr. William Henry",male,373450,NaN,S,shahi
...,...,...,...,...,...,...
886,"Montvila, Rev. Juozas",male,211536,NaN,S,shahi
887,"Graham, Miss. Margaret Edith",female,112053,B42,S,shahi
888,"Johnston, Miss. Catherine Helen ""Carrie""",female,W./C. 6607,NaN,S,shahi
889,"Behr, Mr. Karl Howell",male,111369,C148,C,shahi
890,"Dooley, Mr. Patrick",male,370376,NaN,Q,shahi

In [136]:
df.dtypes[df.dtypes == "object"]

Name        object
Sex         object
Ticket      object
Cabin       object
Embarked    object
shivang     object
dtype: object

In [118]:
df1

,Name,Sex,Ticket,Cabin,Embarked,shivang
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S,shahi
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C,shahi
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S,shahi
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S,shahi
4,"Allen, Mr. William Henry",male,373450,NaN,S,shahi
...,...,...,...,...,...,...
886,"Montvila, Rev. Juozas",male,211536,NaN,S,shahi
887,"Graham, Miss. Margaret Edith",female,112053,B42,S,shahi
888,"Johnston, Miss. Catherine Helen ""Carrie""",female,W./C. 6607,NaN,S,shahi
889,"Behr, Mr. Karl Howell",male,111369,C148,C,shahi
890,"Dooley, Mr. Patrick",male,370376,NaN,Q,shahi

In [44]:
df1.describe()

                           Name   Sex  Ticket    Cabin Embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644

In [109]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,shivang,shivangs
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,shahi,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,shahi,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,shahi,3
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,shahi,4
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,shahi,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,shahi,887
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,shahi,888
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,shahi,889
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,shahi,890
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,shahi,891

In [110]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
shivang         object
shivangs         int64
dtype: object

In [49]:
df2= df[df.dtypes[df.dtypes=="float64"].index]

In [108]:
[df.dtypes[df.dtypes=="float64"].index]

[Index(['Age', 'Fare'], dtype='object')]

In [114]:
df.dtypes=="float64"

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare            True
Cabin          False
Embarked       False
shivang        False
shivangs       False
dtype: bool

In [111]:
df[df.dtypes=="float64"].index

C:\Users\shiva\AppData\Local\Temp/ipykernel_10044/3444640247.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df.dtypes=="float64"].index

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [105]:
df.dtypes=="float64".index

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age            False
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin          False
Embarked       False
shivang        False
shivangs       False
dtype: bool

In [50]:
df2

      Age     Fare
0    22.0   7.2500
1    38.0  71.2833
2    26.0   7.9250
3    35.0  53.1000
4    35.0   8.0500
..    ...      ...
886  27.0  13.0000
887  19.0  30.0000
888   NaN  23.4500
889  26.0  30.0000
890  32.0   7.7500

[891 rows x 2 columns]

In [56]:
df[["Name" , 'Fare']]

                                                  Name     Fare
0                              Braund, Mr. Owen Harris   7.2500
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  71.2833
2                               Heikkinen, Miss. Laina   7.9250
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  53.1000
4                             Allen, Mr. William Henry   8.0500
..                                                 ...      ...
886                              Montvila, Rev. Juozas  13.0000
887                       Graham, Miss. Margaret Edith  30.0000
888           Johnston, Miss. Catherine Helen "Carrie"  23.4500
889                              Behr, Mr. Karl Howell  30.0000
890                                Dooley, Mr. Patrick   7.7500

[891 rows x 2 columns]

In [57]:
df["Name"][5:10:2]

5                       Moran, Mr. James
7         Palsson, Master. Gosta Leonard
9    Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [60]:
df["Ticket"][5:10]

5    330877
6     17463
7    349909
8    347742
9    237736
Name: Ticket, dtype: object

In [144]:
sorted(df["Ticket"])

['110152',
 '110152',
 '110152',
 '110413',
 '110413',
 '110413',
 '110465',
 '110465',
 '110564',
 '110813',
 '111240',
 '111320',
 '111361',
 '111361',
 '111369',
 '111426',
 '111427',
 '111428',
 '112050',
 '112052',
 '112053',
 '112058',
 '112059',
 '112277',
 '112379',
 '113028',
 '113043',
 '113050',
 '113051',
 '113055',
 '113056',
 '113059',
 '113501',
 '113503',
 '113505',
 '113505',
 '113509',
 '113510',
 '113514',
 '113572',
 '113572',
 '113760',
 '113760',
 '113760',
 '113760',
 '113767',
 '113773',
 '113776',
 '113776',
 '113781',
 '113781',
 '113781',
 '113781',
 '113783',
 '113784',
 '113786',
 '113787',
 '113788',
 '113789',
 '113789',
 '113792',
 '113794',
 '113796',
 '113798',
 '113798',
 '113800',
 '113803',
 '113803',
 '113804',
 '113806',
 '113806',
 '113807',
 '11668',
 '11668',
 '11751',
 '11751',
 '11752',
 '11753',
 '11755',
 '11765',
 '11767',
 '11767',
 '11769',
 '11771',
 '11774',
 '11813',
 '11967',
 '11967',
 '12233',
 '12460',
 '12749',
 '12749',
 '13049',
 '13213',
 '13214',
 '13502',
 '13502',
 '13502',
 '13507',
 '13507',
 '13509',
 '13567',
 '13568',
 '14311',
 '14312',
 '14313',
 '14973',
 '1601',
 '1601',
 '1601',
 '1601',
 '1601',
 '1601',
 '1601',
 '16966',
 '16966',
 '16988',
 '17421',
 '17421',
 '17421',
 '17421',
 '17453',
 '17453',
 '17463',
 '17464',
 '17465',
 '17466',
 '17474',
 '17474',
 '17764',
 '19877',
 '19877',
 '19928',
 '19928',
 '19943',
 '19943',
 '19947',
 '19950',
 '19950',
 '19950',
 '19950',
 '19952',
 '19972',
 '19988',
 '19996',
 '19996',
 '2003',
 '211536',
 '21440',
 '218629',
 '219533',
 '220367',
 '220845',
 '220845',
 '2223',
 '223596',
 '226593',
 '226875',
 '228414',
 '229236',
 '230080',
 '230080',
 '230080',
 '230136',
 '230136',
 '230433',
 '230433',
 '230434',
 '231919',
 '231919',
 '231945',
 '233639',
 '233866',
 '234360',
 '234604',
 '234686',
 '234818',
 '236171',
 '236852',
 '236853',
 '237442',
 '237565',
 '237668',
 '237671',
 '237736',
 '237736',
 '237789',
 '237798',
 '239853',
 '239853',
 '239853',
 '239854',
 '239855',
 '239856',
 '239865',
 '239865',
 '240929',
 '24160',
 '24160',
 '24160',
 '243847',
 '243847',
 '243880',
 '244252',
 '244252',
 '244270',
 '244278',
 '244310',
 '244358',
 '244361',
 '244367',
 '244367',
 '244373',
 '248698',
 '248706',
 '248723',
 '248727',
 '248727',
 '248727',
 '248731',
 '248733',
 '248738',
 '248738',
 '248740',
 '248747',
 '250643',
 '250644',
 '250644',
 '250646',
 '250647',
 '250647',
 '250648',
 '250649',
 '250649',
 '250651',
 '250652',
 '250653',
 '250655',
 '250655',
 '2620',
 '2623',
 '2624',
 '2625',
 '2626',
 '2627',
 '2627',
 '2628',
 '2629',
 '2631',
 '26360',
 '26360',
 '2641',
 '2647',
 '2648',
 '2649',
 '2650',
 '2651',
 '2651',
 '2653',
 '2653',
 '2659',
 '2659',
 '2661',
 '2661',
 '2662',
 '2663',
 '2664',
 '2665',
 '2665',
 '2666',
 '2666',
 '2666',
 '2666',
 '2667',
 '2668',
 '2668',
 '2669',
 '26707',
 '2671',
 '2672',
 '2674',
 '2677',
 '2678',
 '2678',
 '2680',
 '2683',
 '2685',
 '2686',
 '2687',
 '2689',
 '2690',
 '2691',
 '2691',
 '2693',
 '2694',
 '2695',
 '2697',
 '2699',
 '2699',
 '2700',
 '27042',
 '27267',
 '27849',
 '28134',
 '28206',
 '28213',
 '28220',
 '28228',
 '28403',
 '28403',
 '28424',
 '28425',
 '28551',
 '28664',
 '28665',
 '29011',
 '2908',
 '2908',
 '29103',
 '29104',
 '29105',
 '29106',
 '29106',
 '29106',
 '29108',
 '2926',
 '29750',
 '29750',
 '29751',
 '3101264',
 '3101265',
 '3101267',
 '3101276',
 '3101277',
 '3101278',
 '3101278',
 '3101281',
 '3101295',
 '3101295',
 '3101295',
 '3101295',
 '3101295',
 '3101295',
 '3101296',
 '3101298',
 '31027',
 '31027',
 '31028',
 '312991',
 '312992',
 '312993',
 '31418',
 '315037',
 '315082',
 '315084',
 '315086',
 '315088',
 '315089',
 '315090',
 '315093',
 '315094',
 '315096',
 '315097',
 '315098',
 '315151',
 '315153',
 '323592',
 '323951',
 '324669',
 '330877',
 '330909',
 '330919',
 '330923',
 '330931',
 '330932',
 '330935',
 '330958',
 '330959',
 '330979',
 '330980',
 '334912',
 '335097',
 '335677',
 '33638',
 '336439',
 '3411',
 '341826',
 '34218',
 '342826',
 '343095',
 '343120',
 '343275',
 '343276',
 '345364',
 '345572',
 '345763',
 '345764',
 '345764',
 '345765',
 '345767',
 '345769',
 '345770',
 '345773',
 '345773',
 '345773',
 '345774',
 '345777',
 '345778',
 '345779',
 '345780',
 '345781',
 '345783',
 '3460',
 '347054',
 '347054',
 '347060',
 '347061',
 '347062',
 '347063',
 '347064',
 '347067',
 '347068',
 '347069',
 '347071',
 '347073',
 '347074',
 '347076',
 '347077',
 '347077',
 '347077',
 '347077',
 '347078',
 '347080',
 '347080',
 '347081',
 '347082',
 '347082',
 '347082',
 '347082',
 '347082',
 '347082',
 '347082',
 '347083',
 '347085',
 '347087',
 '347088',
 '347088',
 '347088',
 '347088',
 '347088',
 '347088',
 '347089',
 '3474',
 '347464',
 '347466',
 '347468',
 '347470',
 '347742',
 '347742',
 '347742',
 '347743',
 '348121',
 '348123',
 '348124',
 '349201',
 '349203',
 '349204',
 '349205',
 '349206',
 '349207',
 '349208',
 '349209',
 '349210',
 '349212',
 '349213',
 '349214',
 '349215',
 '349216',
 '349217',
 '349218',
 '349219',
 '349221',
 '349222',
 '349223',
 '349224',
 '349225',
 '349227',
 '349228',
 '349231',
 '349233',
 '349234',
 '349236',
 '349237',
 '349237',
 '349239',
 '349240',
 '349241',
 '349242',
 '349243',
 '349244',
 '349245',
 '349246',
 '349247',
 '349248',
 '349249',
 '349251',
 '349252',
 '349253',
 '349254',
 '349256',
 '349257',
 '349909',
 '349909',
 '349909',
 '349909',
 '349910',
 '349912',
 '350025',
 '350026',
 '350029',
 '350034',
 '350035',
 '350036',
 '350042',
 '350043',
 '350046',
 '350047',
 '350048',
 '350050',
 '350052',
 '350060',
 '350404',
 '350406',
 '350407',
 '350417',
 '35273',
 '35273',
 '35273',
 '35281',
 '35281',
 '35851',
 '35852',
 '358585',
 '358585',
 '36209',
 '362316',
 '363291',
 '363291',
 '363291',
 '363294',
 '363592',
 '364498',
 '364499',
 '364500',
 '364506',
 '364511',
 '364512',
 '364516',
 '364516',
 '364846',
 '364848',
 '364849',
 '364849',
 '364850',
 '364851',
 '365222',
 '365226',
 '36568',
 '367226',
 '367226',
 '367228',
 '367229',
 '367230',
 '367230',
 '367231',
 '367232',
 '367655',
 '368323',
 '36864',
 '36865',
 '36866',
 '368703',
 '36928',
 '36928',
 '36947',
 '36947',
 '36963',
 '36967',
 '36973',
 '36973',
 '370129',
 '370129',
 '370365',
 '370365',
 '370369',
 '370370',
 '370371',
 '370372',
 '370373',
 '370375',
 '370376',
 '370377',
 '371060',
 '371110',
 '371110',
 '371110',
 '371362',
 '372622',
 '373450',
 '374746',
 '374887',
 '374910',
 '376564',
 '376564',
 '376566',
 '382649',
 '382651',
 '382652',
 '382652',
 '382652',
 '382652',
 '382652',
 '383121',
 '384461',
 '386525',
 '392091',
 '392092',
 '392096',
 '392096',
 '394140',
 '4133',
 '4133',
 '4133',
 '4133',
 '4134',
 '4135',
 '4136',
 '4137',
 '4138',
 '4579',
 '54636',
 '54636',
 '5727',
 '65303',
 '65304',
 '65306',
 '6563',
 '693',
 '695',
 '7267',
 '7534',
 '7534',
 '7540',
 '7545',
 '7546',
 '7552',
 '7553',
 '7598',
 '8471',
 '8475',
 '9234',
 'A./5. 2152',
 'A./5. 3235',
 'A.5. 11206',
 'A.5. 18509',
 'A/4 45380',
 'A/4 48871',
 'A/4 48871',
 'A/4. 20589',
 'A/4. 34244',
 'A/4. 39886',
 'A/5 21171',
 'A/5 21172',
 'A/5 21173',
 'A/5 21174',
 'A/5 2466',
 'A/5 2817',
 'A/5 3536',
 'A/5 3540',
 'A/5 3594',
 'A/5 3902',
 'A/5. 10482',
 'A/5. 13032',
 'A/5. 2151',
 'A/5. 3336',
 'A/5. 3336',
 'A/5. 3337',
 'A/5. 851',
 'A/S 2816',
 'A4. 54510',
 'C 17369',
 'C 4001',
 'C 7075',
 'C 7076',
 'C 7077',
 'C.A. 17248',
 'C.A. 18723',
 'C.A. 2315',
 'C.A. 2315',
 'C.A. 24579',
 'C.A. 24580',
 'C.A. 2673',
 'C.A. 2673',
 'C.A. 29178',
 'C.A. 29395',
 'C.A. 29566',
 'C.A. 31026',
 'C.A. 31921',
 'C.A. 31921',
 'C.A. 31921',
 'C.A. 33111',
 'C.A. 33112',
 'C.A. 33112',
 'C.A. 33595',
 'C.A. 34260',
 'C.A. 34651',
 'C.A. 34651',
 'C.A. 34651',
 'C.A. 37671',
 'C.A. 37671',
 'C.A. 5547',
 'C.A. 6212',
 'C.A./SOTON 34068',
 'CA 2144',
 'CA 2144',
 'CA 2144',
 'CA 2144',
 'CA 2144',
 'CA 2144',
 'CA. 2314',
 'CA. 2343',
 'CA. 2343',
 'CA. 2343',
 'CA. 2343',
 'CA. 2343',
 'CA. 2343',
 'CA. 2343',
 'F.C. 12750',
 'F.C.C. 13528',
 'F.C.C. 13529',
 'F.C.C. 13529',
 'F.C.C. 13529',
 'F.C.C. 13531',
 'Fa 265302',
 'LINE',
 'LINE',
 'LINE',
 'LINE',
 'P/PP 3381',
 'P/PP 3381',
 'PC 17318',
 'PC 17473',
 'PC 17474',
 'PC 17475',
 'PC 17476',
 'PC 17477',
 'PC 17477',
 'PC 17482',
 'PC 17483',
 'PC 17485',
 'PC 17485',
 'PC 17558',
 'PC 17558',
 'PC 17569',
 'PC 17569',
 'PC 17572',
 'PC 17572',
 'PC 17572',
 'PC 17582',
 'PC 17582',
 'PC 17582',
 'PC 17585',
 'PC 17590',
 'PC 17592',
 'PC 17593',
 'PC 17593',
 'PC 17595',
 'PC 17596',
 'PC 17597',
 'PC 17599',
 'PC 17600',
 'PC 17601',
 'PC 17603',
 'PC 17604',
 'PC 17604',
 'PC 17605',
 'PC 17608',
 'PC 17608',
 'PC 17609',
 'PC 17610',
 'PC 17611',
 'PC 17611',
 'PC 17612',
 'PC 17754',
 'PC 17755',
 'PC 17755',
 'PC 17755',
 'PC 17756',
 'PC 17757',
 'PC 17757',
 'PC 17757',
 'PC 17757',
 'PC 17758',
 'PC 17758',
 'PC 17759',
 'PC 17760',
 'PC 17760',
 'PC 17760',
 'PC 17761',
 'PC 17761',
 'PP 4348',
 'PP 9549',
 'PP 9549',
 'S.C./A.4. 23567',
 'S.C./PARIS 2079',
 'S.C./PARIS 2079',
 'S.O./P.P. 3',
 'S.O./P.P. 3',
 'S.O./P.P. 751',
 'S.O.C. 14879',
 'S.O.C. 14879',
 'S.O.C. 14879',
 'S.O.C. 14879',
 'S.O.C. 14879',
 'S.O.P. 1166',
 'S.P. 3464',
 'S.W./PP 752',
 'SC 1748',
 'SC/AH 29037',
 'SC/AH 3085',
 'SC/AH Basle 541',
 'SC/PARIS 2131',
 'SC/PARIS 2133',
 'SC/PARIS 2146',
 'SC/PARIS 2149',
 'SC/PARIS 2167',
 'SC/Paris 2123',
 'SC/Paris 2123',
 'SC/Paris 2123',
 'SC/Paris 2163',
 'SCO/W 1585',
 'SO/C 14885',
 'SOTON/O.Q. 3101305',
 'SOTON/O.Q. 3101306',
 'SOTON/O.Q. 3101307',
 'SOTON/O.Q. 3101310',
 'SOTON/O.Q. 3101311',
 'SOTON/O.Q. 3101312',
 'SOTON/O.Q. 392078',
 'SOTON/O.Q. 392087',
 'SOTON/O2 3101272',
 'SOTON/O2 3101287',
 'SOTON/OQ 3101316',
 'SOTON/OQ 3101317',
 'SOTON/OQ 392076',
 'SOTON/OQ 392082',
 'SOTON/OQ 392086',
 'SOTON/OQ 392089',
 'SOTON/OQ 392090',
 'STON/O 2. 3101269',
 'STON/O 2. 3101273',
 'STON/O 2. 3101274',
 'STON/O 2. 3101275',
 'STON/O 2. 3101280',
 'STON/O 2. 3101285',
 'STON/O 2. 3101286',
 'STON/O 2. 3101288',
 'STON/O 2. 3101289',
 'STON/O 2. 3101292',
 'STON/O 2. 3101293',
 'STON/O 2. 3101294',
 'STON/O2. 3101271',
 'STON/O2. 3101279',
 'STON/O2. 3101279',
 'STON/O2. 3101282',
 'STON/O2. 3101283',
 'STON/O2. 3101290',
 'SW/PP 751',
 'W./C. 14258',
 'W./C. 14263',
 'W./C. 6607',
 'W./C. 6607',
 'W./C. 6608',
 'W./C. 6608',
 'W./C. 6608',
 'W./C. 6608',
 'W./C. 6609',
 'W.E.P. 5734',
 'W/C 14208',
 'WE/P 5735',
 'WE/P 5735']

In [61]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [62]:
for i in df.columns:
    print(df[i])

0        1
1        2
2        3
3        4
4        5
      ...
886    887
887    888
888    889
889    890
890    891
Name: PassengerId, Length: 891, dtype: int64
0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64
0      3
1      1
2      3
3      1
4      3
      ..
886    2
887    1
888    3
889    1
890    3
Name: Pclass, Length: 891, dtype: int64
0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object
0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: Sex, Length: 891, dtype: object
0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64
0      1
1      1
2      0
3      1
4      0
      ..
886    0
887    0
888    1
889    0
890    0
Name: SibSp, Length: 891, dtype: int64
0      0
1      0
2      0
3      0
4      0
      ..
886    0
887    0
888    2
889    0
890    0
Name: Parch, Length: 891, dtype: int64
0             A/5 21171
1              PC 17599
2      STON/O2. 3101282
3                113803
4                373450
             ...
886              211536
887              112053
888          W./C. 6607
889              111369
890              370376
Name: Ticket, Length: 891, dtype: object
0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
886    13.0000
887    30.0000
888    23.4500
889    30.0000
890     7.7500
Name: Fare, Length: 891, dtype: float64
0       NaN
1       C85
2       NaN
3      C123
4       NaN
       ...
886     NaN
887     B42
888     NaN
889    C148
890     NaN
Name: Cabin, Length: 891, dtype: object
0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: Embarked, Length: 891, dtype: object

In [64]:
for i in df.columns:
    print(df[[i]])

     PassengerId
0              1
1              2
2              3
3              4
4              5
..           ...
886          887
887          888
888          889
889          890
890          891

[891 rows x 1 columns]
     Survived
0           0
1           1
2           1
3           1
4           0
..        ...
886         0
887         1
888         0
889         1
890         0

[891 rows x 1 columns]
     Pclass
0         3
1         1
2         3
3         1
4         3
..      ...
886       2
887       1
888       3
889       1
890       3

[891 rows x 1 columns]
                                                  Name
0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
..                                                 ...
886                              Montvila, Rev. Juozas
887                       Graham, Miss. Margaret Edith
888           Johnston, Miss. Catherine Helen "Carrie"
889                              Behr, Mr. Karl Howell
890                                Dooley, Mr. Patrick

[891 rows x 1 columns]
        Sex
0      male
1    female
2    female
3    female
4      male
..      ...
886    male
887  female
888  female
889    male
890    male

[891 rows x 1 columns]
      Age
0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
..    ...
886  27.0
887  19.0
888   NaN
889  26.0
890  32.0

[891 rows x 1 columns]
     SibSp
0        1
1        1
2        0
3        1
4        0
..     ...
886      0
887      0
888      1
889      0
890      0

[891 rows x 1 columns]
     Parch
0        0
1        0
2        0
3        0
4        0
..     ...
886      0
887      0
888      2
889      0
890      0

[891 rows x 1 columns]
               Ticket
0           A/5 21171
1            PC 17599
2    STON/O2. 3101282
3              113803
4              373450
..                ...
886            211536
887            112053
888        W./C. 6607
889            111369
890            370376

[891 rows x 1 columns]
        Fare
0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
..       ...
886  13.0000
887  30.0000
888  23.4500
889  30.0000
890   7.7500

[891 rows x 1 columns]
    Cabin
0     NaN
1     C85
2     NaN
3    C123
4     NaN
..    ...
886   NaN
887   B42
888   NaN
889  C148
890   NaN

[891 rows x 1 columns]
    Embarked
0          S
1          C
2          S
3          S
4          S
..       ...
886        S
887        S
888        S
889        C
890        Q

[891 rows x 1 columns]

In [65]:
df ['shivang']= "shahi"

In [66]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,shivang
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,shahi
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,shahi
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,shahi
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,shahi
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,shahi
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,shahi
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,shahi
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,shahi
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,shahi
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,shahi

In [67]:
df ["shivangs"] = df ["PassengerId"]

In [68]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,shivang,shivangs
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,shahi,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,shahi,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,shahi,3
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,shahi,4
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,shahi,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,shahi,887
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,shahi,888
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,shahi,889
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,shahi,890
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,shahi,891

In [70]:
df["Cabin"]

0       NaN
1       C85
2       NaN
3      C123
4       NaN
       ...
886     NaN
887     B42
888     NaN
889    C148
890     NaN
Name: Cabin, Length: 891, dtype: object

In [74]:
pd.Categorical(df["Cabin"])

[NaN, 'C85', NaN, 'C123', NaN, ..., NaN, 'B42', NaN, 'C148', NaN]
Length: 891
Categories (147, object): ['A10', 'A14', 'A16', 'A19', ..., 'F38', 'F4', 'G6', 'T']

In [75]:
pd.Categorical(df["Sex"])

['male', 'female', 'female', 'female', 'male', ..., 'male', 'female', 'female', 'male', 'male']
Length: 891
Categories (2, object): ['female', 'male']

In [76]:
pd.Categorical(df["Pclass"])

[3, 1, 3, 1, 3, ..., 2, 1, 3, 1, 3]
Length: 891
Categories (3, int64): [1, 2, 3]

In [78]:
df["Pclass"].unique()

array([3, 1, 2], dtype=int64)

In [79]:
df["Sex"].unique()

array(['male', 'female'], dtype=object)

In [91]:
ser= df['Cabin'][df['Cabin'].isnull()== True].index

In [145]:
df['Cabin']

0       NaN
1       C85
2       NaN
3      C123
4       NaN
       ...
886     NaN
887     B42
888     NaN
889    C148
890     NaN
Name: Cabin, Length: 891, dtype: object

In [146]:
df['Cabin'].isnull()== True

0       True
1      False
2       True
3      False
4       True
       ...
886     True
887    False
888     True
889    False
890     True
Name: Cabin, Length: 891, dtype: bool

In [102]:
df['Cabin'].isnull().sum()

687

In [92]:
ser

Int64Index([  0,   2,   4,   5,   7,   8,   9,  12,  13,  14,
            ...
            878, 880, 881, 882, 883, 884, 885, 886, 888, 890],
           dtype='int64', length=687)

In [93]:
len(ser)

687

In [94]:
ser1 = df['Cabin'][df['Cabin'].isnull() == True]

In [95]:
ser1.index

Int64Index([  0,   2,   4,   5,   7,   8,   9,  12,  13,  14,
            ...
            878, 880, 881, 882, 883, 884, 885, 886, 888, 890],
           dtype='int64', length=687)

In [96]:
len(ser1)

687

In [98]:
df.iloc[ser]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,shivang,shivangs
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,shahi,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,shahi,3
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,shahi,5
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,shahi,6
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,shahi,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,shahi,885
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,shahi,886
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,shahi,887
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,shahi,889
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,shahi,891

In [137]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
 12  shivang      891 non-null    object
 13  shivangs     891 non-null    int64
dtypes: float64(2), int64(6), object(6)
memory usage: 97.6+ KB

In [147]:
df5 = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep= '\t')

In [148]:
df5

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [149]:
df5.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [ ]:
https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv

In [ ]:
https://raw.githubusercontent.com/justmarkham/DAT8/master/data/beer.txt

In [ ]:
https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv

In [ ]:
https://raw.githubusercontent.com/vincentarelbundock/Rdatasets/master/datasets.csv

In [ ]:
https://drive.google.com/file/d/1etGP85wJWsgqbsh3gX5oxc8dPKLMA1eT/view