In [2]:
import mysql.connector as connection

mydb= connection.connect(host= "127.0.0.1", user= "root", passwd= "1q2q3e4e", database= "glassdata", use_pure= True)
print(mydb.is_connected())
cursor= mydb.cursor()
query= "delete from glasstable where Index_Number= 1"
cursor.execute(query)
mydb.commit()

True

In [4]:
mydb= connection.connect(host= "127.0.0.1", user= "root", passwd= "1q2q3e4e", database= "glassdata", use_pure= True)
print(mydb.is_connected())
cursor= mydb.cursor()
query= "Update glasstable SET Index_Number= 1011, RI=3.45 , Na= 9.98 , Mg= 1.79, Al= 2.33  where Index_Number= 2"
cursor.execute(query)
mydb.commit()
print("done")

True
done