In [2]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.31-cp39-cp39-win_amd64.whl (7.9 MB)
Collecting protobuf<=3.20.1,>=3.11.0
  Downloading protobuf-3.20.1-cp39-cp39-win_amd64.whl (904 kB)
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.31 protobuf-3.20.1

In [6]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\shiva\anaconda3\lib\site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\shiva\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.1)

In [14]:
import mysql.connector as connection

try:
    mydb= connection.connect(host= "127.0.0.1", user= "root", passwd= "1q2q3e4e", use_pure= True)
    print(mydb)
    
    query= "SHOW DATABASES"
    
    cursor= mydb.cursor()
    cursor.execute(query)
    print(type(cursor))
    res= cursor.fetchall()
    print(res)
    for row in res:
        print(row[0])
    #cursor.fetchall()

except Exception as e:
    mydb.close()
    print(str(e))

<mysql.connector.connection.MySQLConnection object at 0x0000027A3FCC0310>
<class 'mysql.connector.cursor.MySQLCursor'>
[('information_schema',), ('mysql',), ('performance_schema',), ('shivang',), ('sys',)]
information_schema
mysql
performance_schema
shivang
sys

In [35]:
import mysql.connector as connection

try:
    mydb= connection.connect(host= "127.0.0.1", user= "root", passwd= "1q2q3e4e", use_pure= True)
    print(mydb)
    
    query= "create database shivang"
    
    cursor= mydb.cursor()
    cursor.execute(query)
    print("query executed")

except Exception as e:
    mydb.close()
    print(str(e))

<mysql.connector.connection.MySQLConnection object at 0x0000021211D7B250>
query executed

In [45]:
import mysql.connector as connection 

try:
    mydb= connection.connect(host= "127.0.0.1", user= "root", passwd= "1q2q3e4e", database= "shivang", use_pure= True)
    print(mydb.is_connected())
    query= "CREATE TABLE Test (StudentID INT(5) AUTO_INCREMENT PRIMARY KEY, FirstName VARCHAR(15), LastName VARCHAR(15),"\
           "RegistrationDate DATE, Class VARCHAR(15), Section VARCHAR(15))"
    
    cursor= mydb.cursor()
    cursor.execute(query)
    print("query executed successfully!")
    mydb.close()
    
except Exception as e:
    mydb.close()
    print(str(e))

True
query executed successfully!

In [52]:
import mysql.connector as connection

try:
    mydb= connection.connect(host= "127.0.0.1", user= "root", passwd= "1q2q3e4e", database= "shivang", use_pure= True)
    print(mydb.is_connected())
    query= "INSERT INTO Test VALUES (202201, 'Shivang', 'Shahi', '2022-11-01', '12', 'A')"
    cursor= mydb.cursor()
    cursor.execute(query)
    print("Query executed successfully!!!")
    mydb.commit()
    print("Committed successfully!!!")
    mydb.close()

except Exception as e:
    mydb.close()
    print(str(e))

True
Query executed successfully!!!
Committed successfully!!!

In [11]:
import mysql.connector as connection

try:
    mydb= connection.connect(host= "127.0.0.1", user= "root", passwd= "1q2q3e4e", database= "shivang", use_pure= True)
    print(mydb.is_connected())
    query= "select * from Test"
    cursor= mydb.cursor()
    cursor.execute(query)
    print("query executed successfully!!!")
    print(cursor.fetchall())
    """for res in cursor.fetchall():
        print(res)"""
    mydb.close()
    
except Exception as e:
    mydb.close()
    print(str(e))

True
query executed successfully!!!
[(202201, 'Shivang', 'Shahi', datetime.date(2022, 11, 1), '12', 'A')]

In [6]:
mydb= connection.connect(host= "127.0.0.1", user= "root", passwd= "1q2q3e4e", database= "shivang", use_pure= True)
print(mydb.is_connected())

True

In [7]:
query= "select * from Test"

In [8]:
cursor= mydb.cursor()

In [9]:
cursor.execute(query)

In [10]:
cursor.fetchall()

[(202201, 'Shivang', 'Shahi', datetime.date(2022, 11, 1), '12', 'A')]

In [21]:
mydb= connection.connect(host= "127.0.0.1", user= "root", passwd= "1q2q3e4e", database= "shivang", use_pure= True)
cursor= mydb.cursor()
cursor.execute("select StudentID, FirstName, LastName from Test")

In [22]:
res= cursor.fetchall()
print(res)

[(202201, 'Shivang', 'Shahi')]

In [23]:
for i in res:
    print (i)

(202201, 'Shivang', 'Shahi')

In [35]:
import mysql.connector as connection
import pandas as pd

try:
    mydb= connection.connect(host= "127.0.0.1", user= "root", passwd= "1q2q3e4e", database= "shivang", use_pure= True)
    result_dataframe= pd.read_sql("select * from Test", mydb)
    print (type(result_dataframe))
    #print (result_dataframe)
    result_dataframe.to_csv("my_data.csv")
    data= pd.read_csv("my_data.csv")
    print(data)
    mydb.close()
    
except Exception as e:
    mydb.close()
    print(str(e))

<class 'pandas.core.frame.DataFrame'>
   Unnamed: 0  StudentID FirstName LastName RegistrationDate  Class Section
0           0     202201   Shivang    Shahi       2022-11-01     12       A

In [ ]:
import mysql.connector as connection
import pandas as pandas
import csv

try:
    mydb = connection.connect(host="localhost", user="root", passwd="mysql",use_pure=True)
    #check if the connection is established
    print(mydb.is_connected())
    #create a new database
    query = "Create database GlassData;"
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Database Created!!")
    mydb.close() #close the connection

    #Establish a new connection to the database created above
    mydb = connection.connect(host="localhost", database = 'GlassData',user="root", passwd="mysql", use_pure=True)

    #create a new table to store glass data
    query = "CREATE TABLE IF NOT EXISTS GlassData (Index_Number INT(10),RI float(10,5), Na float(10,5), Mg float(10,5),Al float(10,5)," \
            " Si float(10,5), K float(10,5), Ca float(10,5), Ba float(10,5), Fe float(10,5), Class INT(5))"
    cursor = mydb.cursor()  # create a cursor to execute queries
    cursor.execute(query)
    print("Table Created!!")

    #read from the file
    with open('glass.data', "r") as f:
        next(f)
        glass_data = csv.reader(f, delimiter="\n")
        for line in enumerate(glass_data):
            for list_ in (line[1]):
                cursor.execute('INSERT INTO GlassData values ({values})'.format(values=(list_)))
    print("Values inserted!!")
    mydb.commit()
    cursor.close()
    mydb.close()

except Exception as e:
    #mydb.close()
    print(str(e))

In [131]:
##Code to insert a bulk of data to a database table from  a csv file.

import mysql.connector as connection
import pandas as pd
import csv

try:
    mydb= connection.connect(host= "127.0.0.1", user= "root", passwd= "1q2q3e4e", use_pure=True)
    query= "drop database if exists glass_data"
    cursor= mydb.cursor()
    cursor.execute(query)
    query= "Create database glass_Data"
    cursor.execute(query)
    print("Database created successfully!")
    mydb.close()
    
    mydb= connection.connect(host="127.0.0.1", user= "root", passwd= "1q2q3e4e", database= "glass_data", use_pure=True)
    query = "CREATE TABLE IF NOT EXISTS glass_data (Index_Number INT(10),RI float(10,5), Na float(10,5), Mg float(10,5),Al float(10,5)," \
            " Si float(10,5), K float(10,5), Ca float(10,5), Ba float(10,5), Fe float(10,5), Class INT(5))"
    cursor= mydb.cursor()
    cursor.execute(query)
    print("table created successfully!")
    
    with open("glass.data", "r") as f:
        next(f)
        ## file_csv is converting the data to list and without list we can't insert data to the database table.
        file_csv= csv.reader(f, delimiter="\n")
        for i in enumerate(file_csv):
            for j in i[1]:
                #print (j)
                cursor.execute("insert into glass_data Values({values})". format(values= (j)))
    print ("values inserted successfully!")
    mydb.commit()
    cursor.close()
    mydb.close()
    
except Exception as e:
    mydb.close()
    print(str(e))

Database created successfully!
table created successfully!
values inserted successfully!

In [101]:
import mysql.connector as connection
import pandas as pd
import csv


mydb= connection.connect(host= "127.0.0.1", user= "root", passwd= "1q2q3e4e", use_pure=True)
cursor= mydb.cursor()
query= "Create database glassdata"
cursor.execute(query)
print("Database created successfully!")
mydb.close()

Database created successfully!

In [102]:
mydb= connection.connect(host="127.0.0.1", user= "root", passwd= "1q2q3e4e", database= "glassdata", use_pure=True)
query = "CREATE TABLE IF NOT EXISTS glasstable (Index_Number INT(10),RI float(10,5), Na float(10,5), Mg float(10,5),Al float(10,5)," \
            "Si float(10,5), K float(10,5), Ca float(10,5), Ba float(10,5), Fe float(10,5), Class INT(5))"
cursor= mydb.cursor()
cursor.execute(query)

In [47]:
with open("glass.data", "r") as f:
    next(f)
    file_csv= csv.reader(f, delimiter="\n")
    for i in enumerate(file_csv):
        for j in i:
            cursor.execute('INSERT INTO glassdata VALUES ({values})'. format(values= j[1]))
print ("values inserted successfully")

TypeError: 'int' object is not subscriptable

In [111]:
cursor= mydb.cursor()
print (mydb.is_connected())
with open('glass.data', "r") as f:
    next(f)
    glass_data = csv.reader(f, delimiter="\n")
    for i in glass_data:
        for j in i:
            cursor.execute("Insert into glasstable Values({values})". format(values=j))
            
print("inserted successfully!")
mydb.commit()
cursor.close()
mydb.close()

True
inserted successfully!